<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>

	<body>
		<span class="d-none" id="navbar_titulo_pagina">AJUSTES</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('./partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('./partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('./partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<div class="container afterNav">
				<div>
					<h4 class="text-uppercase d-none" id="titulo">AJUSTES</h4>
				</div>
				<div class="row text-center">
					<h5>Seleccione lo que desea editar:</h5>
				</div>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
					<!-- OPERA CODES -->
					<div class="col">
						<div class="card cardShadow mt-3" id="cardTarifas">
							<a href="/ajustes/conf_codigos_opera">
								<img src="/img/opera.jpg" class="domfedo card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/ajustes/conf_codigos_opera" class="linkTarifa">CODIGOS OPERA</a>
								</div>
							</div>
						</div>
					</div>
					<!-- GUIAS -->
					<div class="col">
						<div class="card cardShadow mt-3" id="cardTarifas">
							<a href="/ajustes/conf_guias">
								<img src="/img/manual.jpg" class="domfedo card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/ajustes/conf_guias" class="linkTarifa">GUIAS</a>
								</div>
							</div>
						</div>
					</div>
					<!-- RUTINAS DIARIAS -->
					<div class="col">
						<div class="card cardShadow mt-3" id="cardServices">
							<a href="/ajustes/conf_rutinas">
								<img src="img/rutinas.jpg" class="logoHotel card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/ajustes/conf_rutinas" class="linkTarifa">RUTINAS DIARIAS</a>
								</div>
							</div>
						</div>
					</div>
					<!-- SERVICIOS -->
					<div class="col">
						<div class="card cardShadow mt-3" id="cardServices">
							<a href="/ajustes/conf_servicios">
								<img src="img/servicios-conf.jpg" class="logoHotel card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/ajustes/conf_servicios" class="linkTarifa">SERVICIOS</a>
								</div>
							</div>
						</div>
					</div>
					<!-- TARIFAS CG -->
					<div class="col">
						<div class="card cardShadow mt-3" id="cardTarifas">
							<a href="/ajustes/conf_tarifas_cg">
								<img src="/img/tarifas-conf.jpg" class="domfedo card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/ajustes/conf_tarifas_cg" class="linkTarifa">TARIFAS CAMPO DE GOLF</a>
								</div>
							</div>
						</div>
					</div>
					<!-- TARIFAS MG -->
					<div class="col">
						<div class="card cardShadow mt-3" id="cardTarifas">
							<a href="/ajustes/conf_tarifas_mg">
								<img src="/img/minigolf.jpg" class="domfedo card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/ajustes/conf_tarifas_mg" class="linkTarifa">TARIFAS MINI GOLF</a>
								</div>
							</div>
						</div>
					</div>

					<!-- TTOO -->
					<div class="col">
						<div class="card cardShadow mt-3" id="cardTarifas">
							<a href="/ajustes/conf_ttoo">
								<img src="/img/ttoo.jpg" class="domfedo card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/ajustes/conf_ttoo" class="linkTarifa">TARIFAS TTOO</a>
								</div>
							</div>
						</div>
					</div>

					<!-- usuarios -->
					<div class="col">
						<div class="card cardShadow mt-3" id="cardUsers">
							<a href="/ajustes/conf_usuarios">
								<img src="/img/usuarios.jpg" class="banderas card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/ajustes/conf_usuarios" class="linkTarifa">USUARIOS</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include ('./partials/footer.ejs') %>
		</div>
	</body>
</html>
