<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>

	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">Cambiar contraseña</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('./partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('./partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('./partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h5 class="text-uppercase" id="titulo">CAMBIAR CONTRASEÑA</h5>
				</div>
				<div class="cardEdit-container">
					<div class="card">
						<div class="card-body">
							<% if (typeof errorMessage !== "undefined") { %>
							<div class="alert alert-danger alert-dismissible fade show btnShadow text-center" role="alert">
								<i class="bi bi-exclamation-triangle"></i> <%= errorMessage %><button
									type="button"
									class="btn-close"
									data-bs-dismiss="alert"
									aria-label="Close"></button>
							</div>
							<% } %> <% if (user) { %>
							<form id="edit_form" action="/edit-usuario-actual/<%= user.id %>" method="POST">
								<div class="row row-cols-1 row-cols-sm-2">
									<div class="col">
										<div class="form-floating mb-3">
											<input type="text" class="form-control" name="nombre" value="<%= user.nombre %>" disabled />
											<label for="userName" class="form-label">Nombre</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating mb-3">
											<input type="text" class="form-control" name="username" value="<%= user.username %>" disabled />
											<label for="userNickname" class="form-label">Nombre de usuario</label>
										</div>
									</div>
								</div>
								<div class="row row-cols-1 row-cols-sm-2">
									<div class="col">
										<div class="form-floating mb-3" id="rolEdit">
											<select disabled class="form-select" name="rol" aria-label="role-selector" required>
												<!-- <option>Elija el rol del usuario</option> -->
												<% if(user.rol === "Admin"){ %>
												<option selected value="Admin">Admin</option>
												<option value="User">User</option>
												<% } else { %>
												<option value="Admin">Admin</option>
												<option selected value="User">User</option>
												<% } %>
											</select>
											<label for="userRole" class="form-label">Rol</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating mb-3" id="passEdit">
											<input type="password" class="form-control" name="old_password" id="old_password" placeholder="Contraseña actual" required />
											<label for="userActPass" class="form-label">Contraseña actual</label>
										</div>
									</div>
								</div>
								<div class="row row-cols-1 row-cols-sm-2">
									<div class="col">
										<div class="form-floating mb-3">
											<input
												type="password"
												class="form-control"
												name="password"
												id="password"
												placeholder="Escriba la Contraseña"
												onkeyup="checkPass();"
												required />
											<label for="password" class="form-label">Contraseña nueva</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating mb-3">
											<input
												type="password"
												class="form-control"
												name="pass_conf"
												id="pass_conf"
												placeholder="Repita la Contraseña"
												onkeyup="checkPass();"
												required />
											<label for="pass_conf" class="form-label">Repita la contraseña</label>
										</div>
									</div>
								</div>
								<p id="message" class="text-center mb-2"></p>
								<div class="new-form-button">
									<button type="submit" class="btn btn-warning btnAction btnShadow" id="btnEditUser">EDITAR</button>
									<a href="/index" class="btn btn-danger btnAction btnShadow">CANCELAR</a>
								</div>
							</form>
							<% } %>
						</div>
					</div>
				</div>
			</div>
			<%- include ('./partials/footer.ejs') %>
		</div>
	</body>
</html>
