<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>

	<body>
		<% if (user) { %>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a class="active" href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"><i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/opera"><i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/minigolf"><i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(user.rol === "Admin"){ %>
			<a class="d-block" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">EDITAR USUARIO</span>
				<%- include ('./partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('./partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h5 class="text-uppercase" id="titulo">CAMBIAR CONTRASEÑA</h5>
				</div>
				<div class="cardEdit-container">
					<div class="card">
						<div class="card-body">
							<% if (user) { %>

							<form id="users-form" action="/edit-usuario-actual/<%= user.id %>" method="POST">
								<div class="row row-cols-1 row-cols-sm-2">
									<div class="col">
										<div class="form-floating mb-3">
											<input type="text" class="form-control" name="nombre" value="<%= user.nombre %>" disabled />
											<label for="userName" class="form-label">Nombre</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating mb-3">
											<input type="text" class="form-control" name="username" value="<%= user.username %>" disabled />
											<label for="userNickname" class="form-label">Nombre de usuario</label>
										</div>
									</div>
								</div>
								<div class="row row-cols-1 row-cols-sm-2">
									<div class="col">
										<div class="form-floating mb-3" id="rolEdit">
											<select disabled class="form-select" name="rol" aria-label="role-selector" required>
												<!-- <option>Elija el rol del usuario</option> -->
												<% if(user.rol === "Admin"){ %>
												<option selected value="Admin">Admin</option>
												<option value="User">User</option>
												<% } else { %>
												<option value="Admin">Admin</option>
												<option selected value="User">User</option>
												<% } %>
											</select>
											<label for="userRole" class="form-label">Rol</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating mb-3" id="passEdit">
											<input type="password" class="form-control" name="old_password" id="old_password" placeholder="Contraseña actual" required />
											<label for="userActPass" class="form-label">Contraseña actual</label>
										</div>
									</div>
								</div>
								<% if (typeof errorMessage !== "undefined") { %>
								<p class="text-center" style="color: red"><%= errorMessage %></p>
								<% } %>
								<div class="row row-cols-1 row-cols-sm-2">
									<div class="col">
										<div class="form-floating mb-3">
											<input
												type="password"
												class="form-control"
												name="password"
												id="password"
												placeholder="Escriba la Contraseña"
												onkeyup="checkPass();"
												required />
											<label for="userPass" class="form-label">Contraseña nueva</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating mb-3">
											<input
												type="password"
												class="form-control"
												name="pass_conf"
												id="pass_conf"
												placeholder="Repita la Contraseña"
												onkeyup="checkPass();"
												required />
											<label for="userPass-conf" class="form-label">Repita la contraseña</label>
										</div>
									</div>
								</div>
								<p id="message" class="text-center"></p>

								<div class="new-form-button">
									<button type="submit" class="btn btn-warning btnAction btnShadow" id="btnEditUser">EDITAR</button>
									<a href="/index" class="btn btn-danger btnAction btnShadow">CANCELAR</a>
								</div>
							</form>
							<% } %>
						</div>
					</div>
				</div>
			</div>
			<%- include ('./partials/footer.ejs') %>
		</div>
	</body>
</html>
