<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>
	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">Guías</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('./partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('./partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('./partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<div class="afterNav">
				<h4 class="text-uppercase text-center">Guías actualizadas</h4>
				<div class="text-center mt-2 mb-3">
					<span>Seleccione la guía que desea descargar</span>
				</div>
				<div class="card editShadow">
					<div class="card-body">
						<div class="text-center"></div>

						<table class="table align-middle table-hover" id="myTable">
							<% if (results.length == 0) { %>
							<div class="text-center">
								<img class="noResults" src="/img/noResults.PNG" alt="" />
								<h4 class="text-uppercase mt-3">No hay resultados</h4>
							</div>
							<% }else { %>
							<thead>
								<tr>
									<th scope="col" class="col">Aplicación</th>
									<!-- <th scope="col" class="col">Archivo</th> -->
									<th scope="col" class="col">Tamaño</th>
									<th scope="col" class="col hide-column">Descripción</th>
									<th scope="col" class="col-1">Descargar</th>
								</tr>
							</thead>
							<% } %>
							<tbody>
								<% results.forEach(guia => { %>
								<tr>
									<td class="info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= guia.id %>">
										<span><%= guia.aplicacion %></span>
									</td>

									<% if (guia.fileSize >= 1000000) { %>
									<td><%= (guia.fileSize/1000000).toFixed(2); %> MB</td>
									<% } else if (guia.fileSize >= 1000) { %>
									<td><%= (guia.fileSize/1000).toFixed(2); %> KB</td>
									<% } else { %>
									<td><%= guia.fileSize %> bytes</td>
									<% } %>
									<td class="hide-column"><span><%= guia.descripcion %></span></td>
									<td>
										<a href="/downloadGuide/<%= guia.id %>" target="_blank" class="btn btn-success btnShadow"
											><i class="bi bi-cloud-download px-3"></i
										></a>
									</td>
								</tr>
								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop<%= guia.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="staticBackdropLabel"><%= guia.aplicacion %></h1>
												<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
											</div>
											<div class="modal-body">
												<% if (guia.fileSize >= 1000000) { %>
												<h6><strong>Peso: </strong><%= (guia.fileSize/1000000).toFixed(2); %> MB</h6>
												<% } else if (guia.fileSize >= 1000) { %>
												<h6><strong>Peso: </strong><%= (guia.fileSize/1000).toFixed(2); %> KB</h6>
												<% } else { %>
												<h6><strong>Peso: </strong><%= guia.fileSize %> bytes</h6>
												<% } %>

												<h6><strong>Descripción: </strong><%= guia.descripcion %></h6>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
											</div>
										</div>
									</div>
								</div>
								<% }) %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<%- include ('./partials/footer.ejs') %>
		</div>
	</body>
</html>
