<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>
	<body>
		<% if (user) { %>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a class="active" href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"> <i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/opera"> <i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/minigolf"> <i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(user.rol === "Admin"){ %>
			<a class="d-block" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">Guía Hard Rock Golf club</span>
				<div class="btn-group dropstart">
					<% if(user.rol === "Admin"){ %>
					<a class="btn btn-success dropdown-toggle btnShadow" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-light"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } else { %>
					<a class="btn btn-warning dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-dark"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } %>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/edit-usuario-actual">Editar</a></li>
						<li><a class="dropdown-item" href="/logout">Salir</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i class="bi bi-house-up" id="titulo"></i></a>
				<span class="text-uppercase text-light" id="navbarSM"></span>
				<button
					class="navbar-toggler navbar-dark"
					data-bs-toggle="collapse"
					data-bs-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation"
					onclick="openNav()">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="mySidenav" class="sidenav">
					<div id="main">
						<div class="dropdown btn-perfil">
							<% if(user.rol === "Admin"){ %>
							<button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-light text-uppercase"><%= user.username %></span>
							</button>
							<% } else { %>
							<button class="btn btn-warning btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-dark text-uppercase"><%= user.username %></span>
							</button>
							<% } %>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item text-dark" href="/edit-usuario-actual">Editar</a></li>
								<li>
									<a class="dropdown-item text-dark" href="/logout">Salir</a>
								</li>
							</ul>
						</div>
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a class="active" href="/index">Inicio</a>
						<a class="nav-link" href="/tarifas">Tarifas</a>
						<a class="nav-link" href="/guias">GUIAS</a>
						<a class="nav-link" href="/opera">CÓD. OPERA</a>
						<a class="nav-link" href="/minigolf">MINI GOLF</a>
						<% if(user.rol === "Admin"){ %>
						<a class="d-block" href="/ajustes">AJUSTES </a>
						<% } else { %>
						<a class="d-none" href="/ajustes">AJUSTES </a>
						<% } %>
					</div>
				</div>
			</div>
		</nav>

		<div class="banner"></div>
		<% if (message.length > 0) { %>
		<div class="login_flash_msg">
			<div class="alert alert-success alert-dismissible fade show btnShadow text-center" role="alert">
				<i class="bi bi-check-circle"></i> <%= message %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<% } %>
		<div class="content">
			<div class="container"></div>
			<h2 class="fixHead text-center">Hard Rock Golf Club At Cana Bay</h2>
			<h5 class="text-center">PM Opera: <strong>9508</strong></h5>

			<div class="container">
				<% if(results){ %>
				<div class="row text-center mt-3">
					<h4>Informaciones generales</h4>
					<p class="text-center">
						Diseñado por JACK NICKLAUS. Cuenta con 18 hoyos. Un campo Par 72. Con 7,253 yardas de largo desde los tees traseros.
					</p>

					<p class="text-center">Tenemos un snack Bar ¨ El hoyo 19¨. Es Open Bar. Tambien se incluye el carro bar que circula por el campo.</p>

					<hr />
					<h4 class="mb-3">Servicios que ofrecemos:</h4>
				</div>
			</div>

			<div class="mb-1">
				<form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input class="form-control" type="search" id="myInput" onkeyup="filtroBusqueda(0.6)" placeholder="Buscar Servicios" aria-label="Search" />
					</div>
				</form>
			</div>
			<div class="text-center mt-2 mb-2 hide-column-message">
				<span>*Seleccione un servicio para ver su Descripción*</span>
			</div>

			<div class="card mt-2">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover" id="myTable">
							<thead id="tabla-vacia">
								<tr>
									<th scope="col" class="col px-0">Nombre</th>
									<th scope="col" class="col-2">Precio</th>
									<th scope="col" class="col-2 hide-column-opera">Opera</th>
									<th scope="col" class="col-4 hide-column">Descripción</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((service) => { %>
								<tr
									class="info"
									onclick="alert('- <%= service.nombre %> -\n\n Opera: <% if (service.cod_opera == 0) { %><%= service.cod_opera = `NO POST`%><% } else if (service.cod_opera == 1){ %><%= service.cod_opera = `MULTIPLE`%><% } else { %><%= service.cod_opera%><% } %>\n\n <%= service.descripcion %>')">
									<td class="hide-text">
										<span><%= service.nombre %></span>
									</td>
									<!-- <td><%= service.precio%>.00</td> -->

									<% if (service.precio == 0 && service.nombre == "Torneos") { %>
									<td>COTIZAR</td>
									<% } else { %>
									<td>
										<%= service.precio%>.00
										<div class="verInfo hide-column">
											- Ver Info
											<i class="bi bi-info-circle"></i>
										</div>
									</td>
									<% } %> <% if (service.cod_opera == 0) { %>
									<td class="hide-column-opera">NO POST</td>
									<% } else if (service.cod_opera == 1){ %>
									<td class="hide-column-opera">MULTIPLE</td>
									<% } else { %>
									<td class="hide-column-opera"><%= service.cod_opera%></td>
									<% } %>
									<td class="hide-text hide-column">
										<span><%= service.descripcion %></span>
									</td>
								</tr>
								<% }) %>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- <div class="d-none" id="noResults">
              <img src="/img/noResults.png" alt="">
            </div> -->

			<!--IR ARRIBA-->

			<%- include ('./partials/footer.ejs') %> <% } %>
		</div>
		<% } %>
	</body>
</html>
