<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>
	<body>
		<span class="d-none" id="navbar_titulo_pagina">Guía Hard Rock Golf Club</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('./partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('./partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('./partials/sidenav_mobile_logged.ejs') %>

		<div class="banner"></div>
		<% if (message.length > 0) { %>
		<div class="login_flash_msg">
			<div class="alert alert-success alert-dismissible fade show btnShadow text-center" role="alert">
				<i class="bi bi-check-circle"></i> <%= message %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		<% } %>
		<div class="content">
			<div class="container"></div>
			<h2 class="fixHead text-center">Hard Rock Golf Club At Cana Bay</h2>
			<p id="text"></p>
			<% resultsPM.forEach(pm => { %>
			<h5 class="text-center">PM Opera: <strong><%= pm.pm %></strong> - <%= pm.ttoo_depto %></h5>
			<% }) %>

			<div class="container">
				<% if(results){ %>
				<div class="row text-center mt-3">
					<hr />
					<h4>Informaciones generales</h4>
					<p class="text-center">
						Diseñado por <strong>JACK NICKLAUS</strong> . Cuenta con 18 hoyos. Un campo Par 72. Con 7,253 yardas de largo desde los tees traseros.
					</p>

					<p class="text-center">Tenemos un snack Bar ¨ El hoyo 19¨. Es Open Bar. Tambien se incluye el carro bar que circula por el campo.</p>

					<hr />
					<h4 class="mb-3">Servicios que ofrecemos:</h4>
				</div>
			</div>

			<div class="mb-1">
				<form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input class="form-control" type="search" id="myInput" onkeyup="filtroBusqueda(0.6)" placeholder="Buscar" aria-label="Search" />
					</div>
				</form>
			</div>
			<div class="text-center mt-3">
				<span>*Seleccione un elemento para ver su descripción*</span>
			</div>

			<div class="card mt-3">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col px-0">Nombre</th>
								<th scope="col" class="col-2">Precio</th>
								<th scope="col" class="col-2 hide-column-opera">Opera</th>
								<th scope="col" class="col-4 hide-column">Descripción</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((service) => { %>
							<tr class="info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= service.id %>">
								<td class="hide-text">
									<span><%= service.nombre %></span>
								</td>
								<% if (service.precio == 0 && service.nombre == "Transporte") { %>
								<td>DRIVE</td>
								<% } else if (service.precio == 0 && service.nombre == "Torneos") { %>
								<td>COTIZAR</td>
								<% } else { %>
								<td><%= service.precio%>.00</td>
								<% } %> <% if (service.cod_opera == 0) { %>
								<td class="hide-column-opera">NO POST</td>
								<% } else if (service.cod_opera == 1){ %>
								<td class="hide-column-opera">MULTIPLE</td>
								<% } else { %>
								<td class="hide-column-opera"><%= service.cod_opera%></td>
								<% } %>
								<td class="hide-text hide-column">
									<span><%= service.descripcion %></span>
								</td>
							</tr>
							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop<%= service.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="staticBackdropLabel"><%= service.nombre %></h1>
											<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
										</div>
										<div class="modal-body">
											<% if (service.precio == 0 && service.nombre == "Transporte") { %>
											<h6><strong>Precio: </strong>VER EN DRIVE</h6>
											<% } else if (service.precio == 0 && service.nombre == "Torneos") { %>
											<h6><strong>Precio: </strong>COTIZAR</h6>
											<% } else { %>
											<h6><strong>Precio: </strong><%= service.precio%>.00</h6>
											<% } %>

											<h6>
												<strong>Código Opera: </strong><% if (service.cod_opera == 0) { %><%= service.cod_opera = `NO POST`%><% } else if
												(service.cod_opera == 1){ %><%= service.cod_opera = `MULTIPLE`%><% } else { %><%= service.cod_opera%><% } %>
											</h6>

											<h6><strong>Descripción: </strong><%= service.descripcion %></h6>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
										</div>
									</div>
								</div>
							</div>
							<% }) %>
						</tbody>
					</table>
					<div class="text-center" id="noResults">
						<img class="noResults" src="/img/noResults.PNG" alt="" />
						<h4 class="text-uppercase mt-3">No hay resultados</h4>
					</div>
				</div>
			</div>

			<!--IR ARRIBA-->

			<%- include ('./partials/footer.ejs') %> <% } %>
		</div>
	</body>
</html>
