<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>

	<body class="loginPage">
		<div class="card mt-5 login-card">
			<h4 class="text-uppercase d-none" id="titulo">Login</h4>
			<div>
				<img src="/img/golflogo.png" class="logo-login" alt="login-logo" />
				<h4 class="text-center mt-3 mb-3">Guía General</h4>
			</div>
			<form action="/login" method="POST">
				<div class="mb-3">
					<input
						type="text"
						class="form-control"
						name="user"
						id="login-user"
						placeholder="Usuario"
						autocomplete="username"
						onkeyup="mayus(this)" />
				</div>
				<div class="mb-3">
					<input
						type="password"
						class="form-control"
						name="password"
						autocomplete="current-password"
						placeholder="Contraseña"
						id="login-pass" />
				</div>
				<button
					type="submit"
					class="btn btn-success text-uppercase w-100 mt-4 btnDelete">
					Entrar
				</button>
			</form>
		</div>

		<div class="container text-center fixed-bottom">
			<p class="text-light mt-2">© 2022 German Cruz - Reception Team</p>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"></script>
		<script src="/js/main.js"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<% if(alert) { %>
		<script>
			Swal.fire({
			  title: '<%= alertTitle %>',
			  text: '<%= alertMessage %>',
			  icon: '<%= alertIcon %>',
			  showConfirmButton: <%= showConfirmButton %>,
			  timer: <%= timer %>
			}).then(() => {
			  window.location = '/<%= ruta %>'
			})
		</script>
		<%} %>
	</body>
</html>
