<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>
	<body>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"> <i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/opera"> <i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a class="active" href="/minigolf"> <i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(user.rol === "Admin"){ %>
			<a class="d-block" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">MINIGOLF</span>
				<%- include ('./partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i class="bi bi-house-up" id="titulo"></i></a>
				<span class="text-uppercase text-light" id="navbarSM">MINIGOLF</span>
				<button
					class="navbar-toggler navbar-dark"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation"
					onclick="openNav()">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="mySidenav" class="sidenav">
					<div id="main">
						<div class="dropdown btn-perfil">
							<% if(user.rol === "Admin"){ %>
							<button class="btn btn-success dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-light text-uppercase"><%= user.username %></span>
							</button>
							<% } else { %>
							<button class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-dark text-uppercase"><%= user.username %></span>
							</button>
							<% } %>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item text-dark" href="#">Editar</a></li>
								<li>
									<a class="dropdown-item text-dark" href="/logout">Salir</a>
								</li>
							</ul>
						</div>
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a class="nav-link" href="/index">Inicio</a>
						<a class="nav-link" href="/tarifas">Tarifas</a>
						<a class="nav-link" href="/guias">GUIAS</a>
						<a class="nav-link" href="/opera">CÓD. OPERA</a>
						<a class="active" href="/minigolf">MINI GOLF</a>
						<% if(user.rol === "Admin"){ %>
						<a class="d-block" href="/ajustes">AJUSTES </a>
						<% } else { %>
						<a class="d-none" href="/ajustes">AJUSTES </a>
						<% } %>
					</div>
				</div>
			</div>
		</nav>

		<div class="banner-mg"></div>
		<div class="content">
			<h2 class="fixHead text-center">Rock Star Mini Golf</h2>
			<h5 class="text-center mb-2">PM Opera: <strong>9502</strong></h5>

			<div class="container">
				<div class="row text-center mt-3">
					<h5 class="mb-3">
						<span class="text-danger">TODOS</span> los clientes <span class="text-danger">DEBEN PAGAR.</span> Ningún tipo de membresía tiene el mini
						golf incluido.
					</h5>

					<hr />
					<h4 class="mb-2">Tarifas:</h4>
				</div>
			</div>

			<!-- <div class="mb-1">
				<form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input class="form-control" type="search" id="myInput" onkeyup="filtroBusqueda(0.6)" placeholder="Buscar Tarifa" aria-label="Search" />
					</div>
				</form>
			</div> -->
			<div class="text-center mb-2 hide-column-message">
				<span>*Seleccione un servicio para ver su Descripción*</span>
			</div>

			<div class="card mt-2">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover" id="myTable">
							<thead id="tabla-vacia">
								<tr>
									<th scope="col" class="col">Nombre</th>
									<th scope="col" class="col-2">Precio</th>
									<th scope="col" class="col-2 hide-column-opera">Opera</th>
									<th scope="col" class="col-4 hide-column">Descripción</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((rateMg) => { %>
								<tr
									class="info"
									onclick="alert('- <%= rateMg.nombre %> -\n\n Opera: <% if (rateMg.cod_opera == 0) { %><%= rateMg.cod_opera = `NO POST`%><% } else if (rateMg.cod_opera == 1){ %><%= rateMg.cod_opera = `MULTIPLE`%><% } else { %><%= rateMg.cod_opera%><% } %>\n\n <%= rateMg.descripcion %>')">
									<td class="hide-text">
										<span><%= rateMg.nombre %></span>
									</td>
									<!-- <td><%= rateMg.precio%>.00</td> -->

									<% if (rateMg.precio == 0 && rateMg.nombre == "Resort Credits Minigolf") { %>
									<td>
										30 RC
										<div class="verInfo hide-column">
											- Ver Info
											<i class="bi bi-info-circle"></i>
										</div>
									</td>
									<% } else { %>
									<td>
										<%= rateMg.precio%>
										<div class="verInfo hide-column">
											- Ver Info
											<i class="bi bi-info-circle"></i>
										</div>
									</td>
									<% } %> <% if (rateMg.cod_opera == 0) { %>
									<td class="hide-column-opera">NO POST</td>
									<% } else if (rateMg.cod_opera == 1){ %>
									<td class="hide-column-opera">MULTIPLE</td>
									<% } else { %>
									<td class="hide-column-opera"><%= rateMg.cod_opera%></td>
									<% } %>
									<td class="hide-text hide-column">
										<span><%= rateMg.descripcion %></span>
									</td>
								</tr>
								<% }) %>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<%- include ('./partials/footer.ejs') %>
		</div>
	</body>
</html>
