<%- include ('./partials/head-edits.ejs') %> 
  <body>


    <div class="sidebar scrollmenu">
      <div class="container mb-3 mt-3">
          <img src="/img/golflogo.png" class="logo" alt="">

      </div>
      <a href="/index">Inicio <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/tarifas">Tarifas <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/guias">Guías <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/opera">CÓDIGOS OPERA <i class="bi bi-chevron-right flecha"></i></a>
      <a class="active" href="/minigolf">MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
      <% if(user.rol === "Admin"){ %>
        <a class="d-block"href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
        <% } else { %>
          <a class="d-none"href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
        <% } %>
    </div>

      <!-- NAV LG -->
      <nav class="navbar fixed-top navi">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">minigolf</span>
          <%- include ('./partials/ajustes/navbar-lg.ejs') %> 
          </div>
      </nav>

  <!-- NAV SM -->
  <nav class="navbar navSmall fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index" id="titulo"></a>
      <span class="text-uppercase text-light" id="navbarSM">minigolf</span>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div id="mySidenav" class="sidenav">
          <div id="main">
            <div class="dropdown btn-perfil">
              <% if(user.rol === "Admin"){ %>
                <button class="btn btn-success dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="text-light text-uppercase"></i><%= user.username %></span>
                </button>
                  <% } else { %>
                    <button class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="text-dark text-uppercase"><%= user.username %></span>
                    </button>
                <% } %>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-dark" href="#">Editar</a></li>
                <li><a class="dropdown-item text-dark" href="/logout">Salir</a></li>
              </ul>
            </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="nav-link" href="/index">Inicio</a>
            <a class="nav-link" href="/tarifas">Tarifas</a>
            <a class="nav-link" href="#">GUIAS</a>
            <a class="nav-link" href="/opera">CÓDIGOS OPERA</a>
            <a class="active" href="/minigolf">MINI GOLF</a>
            <% if(user.rol === "Admin"){ %>
              <a class="d-block"href="/ajustes">AJUSTES </a>
              <% } else { %>
                <a class="d-none"href="/ajustes">AJUSTES </a>
              <% } %>
          </div>
        </div>
      </div>
    </div>
    </nav>

      
      <div class="banner-mg">

      </div>
      <div class="content">
        <h2 class="fixHead text-center">
          Rock Star Mini Golf
        </h4>

        

        <div class="container">
          
          <div class="row text-center mt-3">

            <h4 class="mb-4"><span class="text-danger">TODOS</span>  los clientes <span class="text-danger">DEBEN PAGAR.</span>   Ningún tipo de membresía tiene el mini golf incluido. </h4>
            <h5 class="text-center mb-2">PM Opera: <strong>9502</strong> </h5>
            
            <h3 class="mb-2 mt-2 fw-bold">Tarifas:</h3>
            <hr>

            <div class="container">
              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 mt-2" id="ratesMG">
                <% results.forEach((rateMg) => { %>
                  <div class="col">
                    <div class="card cardHome mb-4 cardShadow" id="serviceTest">
                        <div class="card-header fixSizeHead">
                          <h5 class="my-0 font-weight-normal text-center"><%= rateMg.nombre %></h5>
                      </div>
                      <div class="card-body">
                          <h3 class="card-title pricing-card-title text-center">USD <%= rateMg.precio %> <small class="text-muted">p/p</small></h3>
                          <h5>Código Opera: <strong><%= rateMg.cod_opera %></strong></h5>
                          <div class="accordion" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne<%= rateMg.id %>" aria-expanded="false" aria-controls="flush-collapseOne">
                                 Más Información
                                </button>
                              </h2>
                              <div id="flush-collapseOne<%= rateMg.id %>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body"><%= rateMg.descripcion %></div>
                              </div>
                            </div>
                          </div>
                      </div>
      
                    </div>
                  </div>
                    <% }) %>

              </div>
            </div>

          </div>
        </div>
        </h2>   
           
</div>
      
<%- include ('./partials/footer.ejs') %> 

    </body>
  </html>