<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>
	<body>
		<span class="d-none" id="navbar_titulo_pagina">MINI GOLF</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('./partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('./partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('./partials/sidenav_mobile_logged.ejs') %>

		<div class="banner-mg"></div>
		<div class="content">
			<h2 class="fixHead text-center">Rock Star Mini Golf</h2>
			<% resultsPM.forEach(pm => { %>
			<h5 class="text-center">PM Opera: <strong><%= pm.pm %></strong> - <%= pm.ttoo_depto %></h5>
			<% }) %>

			<div class="container">
				<div class="row text-center mt-3">
					<h5 class="mb-3">
						<span class="text-danger">TODOS</span> los clientes con 15 años en adelante <span class="text-danger">DEBEN PAGAR.</span> Ningún tipo de
						membresía tiene el mini golf incluido.
					</h5>

					<hr />
					<h4 class="mb-2">Tarifas:</h4>
				</div>
			</div>

			<div class="mb-1">
				<form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input
							class="form-control"
							type="search"
							id="myInput"
							onkeyup="filtroBusqueda(0.6)"
							placeholder="Buscar Tarifa Mini Golf"
							aria-label="Search" />
					</div>
				</form>
			</div>
			<div class="text-center mt-3 mb-2">
				<span>*Seleccione un elemento para ver su descripción*</span>
			</div>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col-5 col-xl-3 px-0">Nombre</th>
								<th scope="col" class="col-2">Precio</th>
								<th scope="col" class="col-2 hide-column-opera">Opera</th>
								<th scope="col" class="col-4 hide-column px-0">Descripción</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((rateMg) => { %>
							<tr class="info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= rateMg.id %>">
								<td class="hide-text">
									<span><%= rateMg.nombre %></span>
								</td>

								<% if (rateMg.precio > Math.floor(rateMg.precio)) { %>
								<td><%= rateMg.precio%>0</td>
								<% } else if (rateMg.precio == 0) { %>
								<td>Resort C.</td>
								<% } else { %>
								<td><%= rateMg.precio%>.00</td>
								<% } %> <% if (rateMg.cod_opera == 0) { %>
								<td class="hide-column-opera">NO POST</td>
								<% } else if (rateMg.cod_opera == 1){ %>
								<td class="hide-column-opera">MULTIPLE</td>
								<% } else { %>
								<td class="hide-column-opera"><%= rateMg.cod_opera%></td>
								<% } %>
								<td class="hide-text hide-column">
									<span><%= rateMg.descripcion %></span>
								</td>
							</tr>
							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop<%= rateMg.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="staticBackdropLabel"><%= rateMg.nombre %></h1>
											<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
										</div>
										<div class="modal-body">
											<% if (rateMg.precio > Math.floor(rateMg.precio)) { %>
											<h6><strong>Precio: </strong><%= rateMg.precio%>0</h6>
											<% } else if (rateMg.precio == 0) { %>
											<h6><strong>Precio: </strong>Resort Credits</h6>
											<% } else { %>
											<h6><strong>Precio: </strong><%= rateMg.precio%>.00</h6>

											<% } %> <% if (rateMg.cod_opera == 0) { %>
											<h6><strong>Código Opera: </strong>NO POST</h6>
											<% } else if (rateMg.cod_opera == 1){ %>
											<h6><strong>Código Opera: </strong>MULTIPLE</h6>
											<% } else { %>
											<h6><strong>Código Opera: </strong><%= rateMg.cod_opera%></h6>
											<% } %>

											<h6><strong>Descripción: </strong><%= rateMg.descripcion %></h6>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
										</div>
									</div>
								</div>
							</div>
							<% }) %>
						</tbody>
					</table>
					<div class="text-center" id="noResults">
						<img class="noResults" src="/img/noResults.PNG" alt="" />
						<h4 class="text-uppercase mt-3">No hay resultados</h4>
					</div>
				</div>
			</div>

			<%- include ('./partials/footer.ejs') %>
		</div>
	</body>
</html>
