<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>

	<body>
		<span class="d-none" id="navbar_titulo_pagina">CÓDIGOS OPERA</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('./partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('./partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('./partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<div class="mb-3 afterNav">
				<div class="text-center mb-3"><h5>Mostrar códigos:</h5></div>
				<div class="text-center mb-3">
					<div class="form-check form-check-inline">
						<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="campogolf" id="campogolf" />
						<label class="form-check-label" for="campogolf"> Campo de Golf </label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="minigolf" id="minigolf" />
						<label class="form-check-label" for="minigolf"> Mini Golf </label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="pagos" id="pagos" />
						<label class="form-check-label" for="pagos"> Pagos </label>
					</div>
				</div>

				<!-- <form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input
							class="form-control"
							type="search"
							id="myInput"
							onkeyup="filtroBusqueda(0.6)"
							placeholder="Buscar Código Opera"
							aria-label="Search" />
					</div>
				</form> -->
			</div>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col-2">Código</th>
								<th scope="col" class="col-4 px-0">Nombre</th>
								<th scope="col" class="col-2 px-0">Uso</th>
								<th scope="col" class="col-4 hide-column px-0">Descripción</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((code) => { %>

							<tr class="info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%=code.id %>">
								<% if (code.codigo == 0 || code.codigo == 1) { %>
								<td class="d-none"></td>
								<% } else { %>

								<td>
									<%= code.codigo %>
									<div class="verInfo hide-column">
										- Ver Info
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<td class="hide-text"><span><%= code.nombre%></span></td>
								<td class="hide-text"><span><%= code.uso%></span></td>
								<td class="hide-text hide-column"><span><%= code.descripcion %></span></td>
								<% } %>
							</tr>
							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop<%= code.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="staticBackdropLabel">Código Opera: <%= code.codigo %></h1>
											<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
										</div>
										<div class="modal-body">
											<h6><strong>Nombre: </strong><%= code.nombre%></h6>
											<h6><strong>Uso: </strong><%= code.uso%></h6>
											<h6><strong>Descripción: </strong><%= code.descripcion %></h6>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
										</div>
									</div>
								</div>
							</div>
							<% }) %>
						</tbody>
					</table>
					<div class="text-center" id="noResults">
						<!-- <img class="noResults" src="/img/noResults.PNG" alt="" /> -->
						<i class="bi bi-check-square"></i>
						<h5 class="text-uppercase mt-3">elija una de las opciones de arriba para mostrar los códigos</h5>
					</div>
				</div>
			</div>
			<%- include ('./partials/footer.ejs') %>
		</div>
		<script>
			window.onload = checkAllCodes()
		</script>
	</body>
</html>
