<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>

	<body>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"> <i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a class="active" href="/opera"> <i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/minigolf"> <i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(user.rol === "Admin"){ %>
			<a class="d-block" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">CÓDIGOS OPERA</span>
				<%- include ('./partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i class="bi bi-house-up" id="titulo"></i></a>
				<span class="text-uppercase text-light" id="navbarSM">CÓDIGOS OPERA</span>
				<button
					class="navbar-toggler navbar-dark"
					data-bs-toggle="collapse"
					data-bs-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation"
					onclick="openNav()">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="mySidenav" class="sidenav">
					<div id="main">
						<div class="dropdown btn-perfil">
							<% if(user.rol === "Admin"){ %>
							<button class="btn btn-success dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-light text-uppercase"><%= user.username %></span>
							</button>
							<% } else { %>
							<button class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-dark text-uppercase"><%= user.username %></span>
							</button>
							<% } %>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item text-dark" href="#">Editar</a></li>
								<li>
									<a class="dropdown-item text-dark" href="/logout">Salir</a>
								</li>
							</ul>
						</div>
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a class="nav-link" href="/index">Inicio</a>
						<a class="nav-link" href="/tarifas">Tarifas</a>
						<a class="nav-link" href="/guias">GUIAS</a>
						<a class="active" href="/opera">CÓD. OPERA</a>
						<a class="nav-link" href="/minigolf">MINI GOLF</a>
						<% if(user.rol === "Admin"){ %>
						<a class="d-block" href="/ajustes">AJUSTES </a>
						<% } else { %>
						<a class="d-none" href="/ajustes">AJUSTES </a>
						<% } %>
					</div>
				</div>
			</div>
		</nav>

		<div class="content">
			<div class="mb-3 afterNav">
				<div class="text-center mb-3"><h5>Mostrar códigos:</h5></div>
				<div class="text-center mb-3">
					<div class="form-check form-check-inline">
						<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="campogolf" id="campogolf" />
						<label class="form-check-label" for="campogolf"> Campo de Golf </label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="minigolf" id="minigolf" />
						<label class="form-check-label" for="minigolf"> Mini Golf </label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="pagos" id="pagos" />
						<label class="form-check-label" for="pagos"> Pagos </label>
					</div>
				</div>

				<!-- <form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input
							class="form-control"
							type="search"
							id="myInput"
							onkeyup="filtroBusqueda(0.6)"
							placeholder="Buscar Código Opera"
							aria-label="Search" />
					</div>
				</form> -->
			</div>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col-2">Código</th>
								<th scope="col" class="col-4">Nombre</th>
								<th scope="col" class="col-2">Uso</th>
								<th scope="col" class="col-4 hide-column">Descripción</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((code) => { %>

							<tr class="info" onclick="alert('- <%= code.nombre %> -\n\n <%= code.descripcion %>')">
								<% if (code.codigo == 0 || code.codigo == 1) { %>
								<td class="d-none"></td>
								<% } else { %>

								<td>
									<%= code.codigo %>
									<div class="verInfo hide-column">
										- Ver Info
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<td><%= code.nombre%></td>
								<td><%= code.uso%></td>
								<td class="hide-text hide-column"><span><%= code.descripcion %></span></td>
								<% } %>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>
			<%- include ('./partials/footer.ejs') %>
		</div>
		<script>
			window.onload = checkAllCodes()
		</script>
	</body>
</html>
