<!DOCTYPE html>
<html lang="en">
	<%- include ('./partials/head-edits.ejs') %>

	<body>
		<% if (user) { %>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a class="active" href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"> <i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/opera"> <i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/minigolf"> <i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(user.rol === "Admin"){ %>
			<a class="d-block" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">TARIFAS</span>
				<div class="btn-group dropstart">
					<% if(user.rol === "Admin"){ %>
					<a class="btn btn-success dropdown-toggle btnShadow" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-light"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } else { %>
					<a class="btn btn-warning dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-dark"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } %>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/edit-usuario-actual">Editar</a></li>
						<li><a class="dropdown-item" href="/logout">Salir</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i class="bi bi-house-up" id="titulo"></i></a>
				<span class="text-uppercase text-light" id="navbarSM"></span>
				<!-- OFFCANVAS -->
				<button
					class="navbar-toggler navbar-dark"
					type="button"
					data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasWithBothOptions"
					aria-controls="offcanvasWithBothOptions">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div
					class="offcanvas offcanvas-start new_sidenav"
					data-bs-scroll="true"
					tabindex="-1"
					id="offcanvasWithBothOptions"
					aria-labelledby="offcanvasWithBothOptionsLabel">
					<div class="offcanvas-header">
						<div class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
							<div class="dropdown btn-perfil">
								<% if(user.rol === "Admin"){ %>
								<button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="text-light text-uppercase"><i class="bi bi-person-gear"></i>&nbsp;<%= user.username %></span>
								</button>
								<% } else { %>
								<button class="btn btn-warning btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="text-dark text-uppercase"><%= user.username %></span>
								</button>
								<% } %>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item text-dark" href="/edit-usuario-actual">Editar</a></li>
									<li><a class="dropdown-item text-dark" href="/logout">Salir</a></li>
								</ul>
							</div>
						</div>
						<div data-bs-theme="dark">
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
					</div>
					<div class="offcanvas-body">
						<div class="mt-3">
							<a class="nav-link" href="/index"><i class="bi bi-house-check"></i>&nbsp; Inicio</a>
							<a class="active" href="/tarifas"><i class="bi bi-currency-dollar"></i>&nbsp; Tarifas</a>
							<a class="nav-link" href="/guias"><i class="bi bi-journal-text"></i>&nbsp; GUÍAS</a>
							<a class="nav-link" href="/opera"><i class="bi bi-upc-scan"></i>&nbsp; CÓDIGOS OPERA</a>
							<a class="nav-link" href="/minigolf"><i class="bi bi-houses"></i>&nbsp; MINI GOLF</a>
							<% if(user.rol === "Admin"){ %>
							<a class="d-block" href="/ajustes"><i class="bi bi-gear"></i>&nbsp; AJUSTES </a>
							<% } else { %>
							<a class="d-none" href="/ajustes">AJUSTES </a>
							<% } %>
						</div>
					</div>
					<div class="offcanvas-footer text-light text-center">
						<hr />
						<h5 class="text-uppercase">Guía Hard Rock Golf</h5>
					</div>
				</div>
				<!-- OFFCANVAS -->
			</div>
		</nav>
		<% } %>

		<div class="content">
			<h3 class="headerSmall p-3 text-center" id="titulo">Tarifas</h3>
			<div class="container afterNav">
				<div class="row text-center">
					<h5>Seleccione el tipo de cliente para ver las tarifas asociadas.</h5>
				</div>
				<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
					<div class="col">
						<div class="card cardShadow mt-3" id="cardHotel">
							<a href="/tarifas/tarifa-hotel">
								<img src="/img/hrCard.png" class="logoHotel card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/tarifas/tarifa-hotel">HUÉSPED DEL HOTEL</a>
								</div>
								<!-- <p class="card-text">Verificar si tiene algún tipo de beneficios como huésped.</p> -->
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card cardShadow mt-3" id="cardLocal">
							<a href="/tarifas/tarifa-local">
								<img src="/img/domfedo.png" class="domfedo card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/tarifas/tarifa-local">LOCAL / RESIDENTE</a>
								</div>
								<!-- <p class="card-text">Ver si está afiliado a FEDOGOLF, si es nacido aqui o si es un extranjero residente.</p> -->
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card cardShadow mt-3" id="cardExt">
							<a href="/tarifas/tarifa-turista">
								<img src="/img/banderas.png" class="banderas card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/tarifas/tarifa-turista">EXTRANJERO / CANA BAY</a>
								</div>
								<!-- <p class="card-text">Verificar si reserva el cliente o alguien en su lugar.</p> -->
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card cardShadow mt-3 mb-3" id="cardOper">
							<a href="/tarifas/tarifa-ttoo">
								<img src="/img/ttoo.png" class="banderas card-img-top" alt="" />
							</a>
							<div class="card-body cardBottom">
								<div class="text-center">
									<a href="/tarifas/tarifa-ttoo">TOUR OPERADORES</a>
								</div>
								<!-- <p class="card-text">Verificar si reserva el cliente o alguien en su lugar.</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include ('./partials/footer.ejs') %>
		</div>
	</body>
</html>
