<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">RUTINAS DIARIAS</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<div id="Guias" class="afterNav">
				<div class="mb-3">
					<button type="button" class="btn btn-success btnShadow" data-bs-toggle="modal" data-bs-target="#nueva_tarea">AGREGAR</button>
				</div>

				<!-- MODAL AGREGAR NUEVA TAREA ---------------------------------------------------->
				<div class="modal fade" id="nueva_tarea" tabindex="-1" aria-labelledby="nueva_tareaLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="nueva_tareaLabel">Nueva Tarea</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form id="add_new_form" action="/create_tarea" method="POST">
									<div class="col">
										<div class="form-floating mb-3">
											<input type="text" class="form-control" name="tarea" placeholder="tarea" id="tarea" required onkeyup="inform()" />
											<label for="descripcion" class="form-label">Tarea:</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating mb-3">
											<select class="form-select" name="turno_tarea" id="turno_tarea" aria-label="Floating label select example" required>
												<option selected value="">Elegir:</option>
												<option value="Apertura">Apertura</option>
												<option value="Cierre">Cierre</option>
											</select>
											<label for="floatingSelect">Es de apertura o cierre?</label>
										</div>
									</div>
									<div class="new-form-button">
										<button type="submit" class="btn btn-success btnShadow">AGREGAR</button>
										<button type="button" class="btn btn-danger btnShadow" data-bs-dismiss="modal">CANCELAR</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- MODAL AGREGAR NUEVA TAREA ---------------------------------------------------->

				<% if (message.length > 0) { %>
				<div class="alert alert-success alert-dismissible fade show btnShadow" role="alert">
					<i class="bi bi-check-circle"></i> <%= message %><button
						type="button"
						class="btn-close"
						data-bs-dismiss="alert"
						aria-label="Close"></button>
				</div>
				<% } %>

				<div class="card editShadow mb-3">
					<div class="card-body">
						<table class="table table-hover" id="myTable">
							<thead>
								<tr>
									<th scope="col" class="col px-0">Tarea</th>
									<th scope="col" class="col-2 px-0">Turno</th>
									<th scope="col" class="col-5 col-xl-2">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((tarea) => { %>
								<tr>
									<td class="hide-text info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= tarea.id %>">
										<span class="editCenter"><%= tarea.tarea%></span>
									</td>
									<td class="text-uppercase hide-text"><span class="editCenter"><%= tarea.turno_tarea%></span></td>

									<td class="d-flex justify-content-between">
										<button
											type="button"
											class="btn btn-sm btn-warning btnAction btnShadow"
											data-bs-toggle="modal"
											data-bs-target="#edit_tarea<%= tarea.id %>">
											<i class="bi bi-pencil"></i>
										</button>

										<a
											href="/ajustes/conf_rutinas/delete_tarea/<%= tarea.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow"
											onclick="return confirm_delete()"
											><i class="bi bi-trash"></i
										></a>
									</td>
								</tr>
								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop<%= tarea.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-body">
												<h6><strong>Tarea:&nbsp;</strong><%= tarea.tarea %></h6>
												<h6><strong>Turno:&nbsp;</strong><%= tarea.turno_tarea %></h6>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
											</div>
										</div>
									</div>
								</div>

								<!-- MODAL EDITAR TAREA ---------------------------------------------------->
								<div class="modal fade" id="edit_tarea<%= tarea.id %>" tabindex="-1" aria-labelledby="edit_tareaLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="edit_tareaLabel">Editar Tarea</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<form id="edit_form" action="/edit_rutina/<%= tarea.id %>" method="POST">
													<div class="col">
														<div class="form-floating mb-3">
															<input
																type="text"
																class="form-control"
																name="tarea"
																value="<%= tarea.tarea %>"
																placeholder="tarea"
																id="tarea"
																required />
															<label for="descripcion" class="form-label">Tarea:</label>
														</div>
													</div>
													<div class="col">
														<div class="form-floating mb-3">
															<select class="form-select" name="turno_tarea" id="turno_tarea" aria-label="Floating label select example" required>
																<option selected value="<%= tarea.turno_tarea %>"><%= tarea.turno_tarea %></option>
																<% if (tarea.turno_tarea == 'Apertura') { %>
																<option value="Cierre">Cierre</option>
																<%} else { %>
																<option value="Apertura">Apertura</option>

																<% } %>
															</select>
															<label for="floatingSelect">Es de apertura o cierre?</label>
														</div>
													</div>
													<div class="new-form-button">
														<button type="submit" class="btn btn-warning btnShadow" onclick="conTest()">EDITAR</button>
														<button type="button" class="btn btn-danger btnShadow" data-bs-dismiss="modal">CANCELAR</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- FIN MODAL EDITAR TAREA---------------------------------------------------->
								<% }) %>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
