<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hard Rock Golf PC - Guía de procedimientos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <body>

    <div class="sidebar scrollmenu">
      <div class="container mb-3 mt-3">
          <img src="/img/golflogo.png" class="logo" alt="">

      </div>
      <a class="active" href="/index">Inicio <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/tarifas">Tarifas <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/guias">Guías <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/opera">CÓDIGOS OPERA <i class="bi bi-chevron-right flecha"></i></a>
      <a href="/minigolf">MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
      <% if(user.rol === "Admin"){ %>
        <a class="d-block"href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
        <% } else { %>
          <a class="d-none"href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
        <% } %>
    </div>

    <!-- NAV LG -->
    <nav class="navbar fixed-top navi">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Hard Rock Golf Club At Cana Bay</span>
        <div class="btn-group dropstart">
          <% if(user.rol === "Admin"){ %>
            <a class="btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="text-light "><i class="bi bi-person-fill"></i> <%= user.username %></span>
            </a>
              <% } else { %>
                <a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="text-dark "><i class="bi bi-person-fill"></i> <%= user.username %></span>
                </a>
            <% } %>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Editar</a></li>
            <li><a class="dropdown-item" href="/logout">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- NAV SM -->
  <nav class="navbar navSmall fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">Guía General HR Golf</a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div id="mySidenav" class="sidenav">
          <div id="main">
            <div class="dropdown btn-perfil">
              <% if(user.rol === "Admin"){ %>
                <button class="btn btn-success dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="text-light text-uppercase"></i><%= user.username %></span>
                </button>
                  <% } else { %>
                    <button class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="text-dark text-uppercase"><%= user.username %></span>
                    </button>
                <% } %>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-dark" href="#">Editar</a></li>
                <li><a class="dropdown-item text-dark" href="/logout">Salir</a></li>
              </ul>
            </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class="active" href="/index">Inicio</a>
            <a class="nav-link" href="/tarifas">Tarifas</a>
            <a class="nav-link" href="#">GUIAS</a>
            <a class="nav-link" href="/opera">CÓDIGOS OPERA</a>
            <a class="nav-link" href="/minigolf">MINI GOLF</a>
            <% if(user.rol === "Admin"){ %>
              <a class="d-block"href="/ajustes">AJUSTES </a>
              <% } else { %>
                <a class="d-none"href="/ajustes">AJUSTES </a>
              <% } %>
          </div>
        </div>
      </div>
    </div>
    </nav>

    <div class="content">
      
      <div id="Servicios" class="afterNav">
        
              <div class="text-center mb-3">
                <h4>Editar tarifa Mini Golf</h4>
              </div>
              <div class="cardEdit-container">

                <div class="card editShadow">
                  <div class="card-body">
                  <% if (rate) { %>
                  
                    <form id="services-form" action="/ajustes/tarifas-mg/<%= rate.id %>" method="POST">
                      <div class="mb-3">
                        <label for="rate-title" class="form-label">Nombre de la tarifa</label>
                        <input type="text" class="form-control" name="nombre" value="<%= rate.nombre %>" placeholder="Nombre de la tarifa" required>
                      </div>
                      <div class="mb-3">
                        <label for="rate-price" class="form-label">Precio</label>
                        <input type="number" class="form-control" name="precio" value="<%= rate.precio %>" placeholder="Precio de tarifa " required>
                      </div> 
                      <div class="mb-3">
                        <label for="rate-opera" class="form-label">Código Opera</label>
                        <input type="number" class="form-control" name="cod_opera" value="<%= rate.cod_opera %>" placeholder="Código de Opera">
                      </div>    
                      <div class="mb-3">
                        <label for="serivce-description" class="form-label">Descripción</label>
                        <textarea  class="form-control" name="descripcion" rows="3"><%=rate.descripcion %></textarea>
                        <!-- <div id="contador" class="mt-1"></div> -->
                      </div>
                      
                      <div class="mt-4 d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="submit" class="btn btn-warning btnEdit editShadow" id="modalServName"><i class="bi bi-pencil"></i> Editar tarifa</button>
                        <a href="/ajustes/tarifas-mg" class="btn btn-danger btnCancel editShadow"><i class="bi bi-x-lg"></i> Cancelar</a>
                      </div>
                    </form>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer>
            <hr>
            <div class="container">
              <div class="container">
                <img src="/img/golflogo.png" class="logoFoot" alt="">
              </div>
                  <p class="text-muted miFirma">© 2022 German Cruz - Reception Team</p>
            </div>
          </footer>
  
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/services.js"></script>
    <script type="module" src="/js/rates.js"></script> -->
  </body>
</html>
