<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - TARIFAS CAMPO GOLF</span>
				<%- include ('../partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase" id="titulo">Editar Tarifa Campo de Golf</h4>
				</div>
				<div class="cardEdit-container">
					<div class="card editShadow">
						<div class="card-body">
							<% if (resultsRates) { %>

							<form id="services-form" action="/ajustes/tarifas-conf/<%= resultsRates.id %>" method="POST">
								<div class="form-floating mb-3">
									<input
										type="text"
										class="form-control"
										name="nombre"
										value="<%= resultsRates.nombre %>"
										placeholder="Nombre de la tarifa"
										required />
									<label for="rate-title" class="form-label">Nombre de la tarifa</label>
								</div>
								<div class="row row-cols-1 row-cols-sm-3">
									<div class="col">
										<div class="form-floating mb-3">
											<input
												type="number"
												class="form-control"
												name="precio"
												value="<%= resultsRates.precio %>"
												placeholder="Precio de tarifa "
												required />
											<label for="rate-price" class="form-label">Precio</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating">
											<select class="form-select mb-3" name="cod_opera" aria-label="cliente-selector" required>
												<option selected value="">Confirmar c贸digo</option>
												<% if (resultsCodes) { %> <% resultsCodes.forEach(code => { %>
												<option value="<%= code.codigo %>"><%= code.codigo %> - <%= code.nombre %></option>
												<% }) %>
											</select>
											<% } %>
											<label for="rate-opera" class="form-label">C贸digo OPERA </label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating">
											<select class="form-select mb-3" name="cliente" aria-label="cliente-selector" required>
												<!-- <option selected>Elegir:</option> -->
												<% if(resultsRates.cliente === "Hotel"){ %>
												<option selected value="Hotel">Cliente Hotel</option>
												<option value="Local">Local / Residente</option>
												<option value="Extranjero">Extranjero</option>
												<option value="Varios">Varios</option>
												<% } else if(resultsRates.cliente === "Local") { %>
												<option value="Hotel">Cliente Hotel</option>
												<option selected value="Local">Local / Residente</option>
												<option value="Extranjero">Extranjero</option>
												<option value="Varios">Varios</option>
												<% } else if(resultsRates.cliente === "Extranjero") { %>
												<option value="Hotel">Cliente Hotel</option>
												<option value="Local">Local / Residente</option>
												<option selected value="Extranjero">Extranjero</option>
												<option value="Varios">Varios</option>
												<% } else { %>
												<option value="Hotel">Cliente Hotel</option>
												<option value="Local">Local / Residente</option>
												<option value="Extranjero">Extranjero</option>
												<option selected value="Varios">Varios</option>
												<% } %>
											</select>
											<label for="rate-cliente" class="form-label">Tipo de cliente</label>
										</div>
									</div>
								</div>
								<div class="form-floating mb-3">
									<textarea class="form-control" name="tips" placeholder="Descripci贸n" style="height: 100px" required>
<%=resultsRates.tips %></textarea
									>
									<label for="TextareaService" class="form-label">Descripci贸n</label>
								</div>

								<div class="new-form-button">
									<button type="submit" class="btn btn-warning btnAction btnShadow" id="modalServName">EDITAR</button>
									<a href="/ajustes/tarifas-conf" class="btn btn-danger btnAction btnShadow">CANCELAR</a>
								</div>
							</form>
							<% } %>
						</div>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
