<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - TTOO</span>
				<%- include ('../partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase" id="titulo">Editar TTOO</h4>
				</div>
				<div class="cardEdit-container">
					<div class="card editShadow">
						<div class="card-body">
							<% if (ttoo) { %>

							<form id="services-form" action="/ajustes/ttoo-conf/<%= ttoo.id %>" method="POST">
								<div class="mb-3">
									<label for="ttoo-title" class="form-label">Nombre TTOO</label>
									<input type="text" class="form-control" name="nombre" value="<%= ttoo.nombre %>" placeholder="Nombre del TTOO" required />
								</div>
								<div class="mb-3">
									<label for="rate-price" class="form-label">Green Fee</label>
									<input type="number" class="form-control" name="green_fee" value="<%= ttoo.green_fee %>" placeholder="Precio Green Fee" required />
								</div>
								<div class="mb-3">
									<label for="rate-price" class="form-label">Twilight</label>
									<input type="number" class="form-control" name="twilight" value="<%= ttoo.twilight %>" placeholder="Precio Twilight" required />
								</div>
								<div class="mb-3">
									<label for="rate-opera" class="form-label">C贸digo Opera</label>
									<input type="number" class="form-control" name="cod_opera" value="<%= ttoo.cod_opera %>" placeholder="C贸digo de Opera" />
								</div>
								<div class="mb-3">
									<label for="rate-operacion" class="form-label">Operaci贸n</label>
									<input type="text" class="form-control" name="operacion" value="<%= ttoo.operacion %>" placeholder="C贸mo facturarlo:" />
								</div>

								<div class="new-form-button">
									<button type="submit" class="btn btn-warning btnAction btnShadow" id="modalServName">EDITAR</button>
									<a href="/ajustes/ttoo-conf" class="btn btn-danger btnAction btnShadow">CANCELAR</a>
								</div>
							</form>
							<% } %>
						</div>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
