<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hard Rock Golf PC - Guía de procedimientos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <body>

    <div class="sidebar scrollmenu">
        <div class="container mb-3 mt-3">
            <img src="/img/golflogo.png" class="logo" alt="">
        </div>        
        <a href="/">Inicio <i class="bi bi-chevron-right flecha"></i></a>
        <a href="/tarifas">Tarifas <i class="bi bi-chevron-right flecha"></i></a>
        <a href="/ezlinks">EZLinks <i class="bi bi-chevron-right flecha"></i></a>
        <a href="/ezlinks-pos">EZLinks POS <i class="bi bi-chevron-right flecha"></i></a>
        <a href="/opera">OPERA <i class="bi bi-chevron-right flecha"></i></a>
        <a href="/origos">Origos <i class="bi bi-chevron-right flecha"></i></a>
        <a href="/eba">EBA <i class="bi bi-chevron-right flecha"></i></a>
        <a href="/minigolf">MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
        <% if(user.rol === "Admin"){ %>
          <a class="d-block active"href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
          <% } else { %>
            <a class="d-none"href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
          <% } %>
      </div>

      <!-- NAV LG -->
      <nav class="navbar fixed-top navi">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">AJUSTES DE GUÍAS</span>
          <div class="btn-group dropstart">
            <% if(user.rol === "Admin"){ %>
              <a class="btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="text-light "><i class="bi bi-person-fill"></i> <%= user.username %></span>
              </a>
                <% } else { %>
                  <a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-dark "><i class="bi bi-person-fill"></i> <%= user.username %></span>
                  </a>
              <% } %>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Editar</a></li>
              <li><a class="dropdown-item" href="/logout">Salir</a></li>
            </ul>
          </div>
        </div>
      </nav>
    
    <!-- NAV SM -->
    <nav class="navbar navSmall fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="bi bi-house"></i></a><span class="text-light">EDITAR GUÍAS</span>
      <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav()">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div id="mySidenav" class="sidenav">
            <div id="main">
              <div class="dropdown btn-perfil">
                <% if(user.rol === "Admin"){ %>
                  <button class="btn btn-success dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="text-light text-uppercase"></i><%= user.username %></span>
                  </button>
                    <% } else { %>
                      <button class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="text-dark text-uppercase"><%= user.username %></span>
                      </button>
                  <% } %>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item text-dark" href="#">Editar</a></li>
                  <li><a class="dropdown-item text-dark" href="/logout">Salir</a></li>
                </ul>
              </div>
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a class="nav-link" href="/">Inicio</a>
              <a class="nav-link" href="/tarifas">Tarifas</a>
              <a class="nav-link" href="/ezlinks">EZLinks</a>
              <a class="nav-link" href="/ezlinks-pos">EZLinks POS</a>
              <a class="nav-link" href="/opera">OPERA</a>
              <a class="nav-link" href="/origos">Origos</a>
              <a class="nav-link" href="/eba">EBA</a>
              <a class="nav-link" href="/minigolf">MINI GOLF</a>
              <% if(user.rol === "Admin"){ %>
                <a class="d-block active"href="/ajustes">AJUSTES </a>
                <% } else { %>
                  <a class="d-none"href="/ajustes">AJUSTES </a>
                <% } %>
            </div>
          </div>
        </div>
      </div>
      </nav>

    <div class="content">
      <div id="Guias" class="afterNav">
        <div class="card editShadow mb-3">
          <div class="card-body">
        <div class="text-center mb-3">
          <h4 class="text-uppercase"> Subir Guías</h4>
          <hr>
        </div>

              <form id="guides-form" class="was-validated" action="/uploadGuide" enctype="multipart/form-data" method="POST">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                  <div class="col">
                    <div class="mb-3">
                      <!-- <label for="guide-title" class="form-label">Aplicación</label> -->
                      <input type="text" class="form-control" name="aplicacion" placeholder="Nombre de la aplicación" required>
                      <div class="invalid-feedback">
                        Por favor escriba el nombre de la aplicación.
                      </div>
                      </div>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group">
                        <input type="file" class="form-control" id="fileGuide" name="archivo"  accept=".pdf"aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
                        <button class="btn btn-success" type="submit" id="inputGroupFileAddon04">SUBIR</button>
                        <div class="invalid-feedback">
                          Sólo archivos .PDF permitidos.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card editShadow">
            <div class="card-body">
              <div class="text-center">
                <h4 class="text-uppercase"> Guías actualizadas</h4>
                <hr>
              </div>

              <table class="table tabla-desktop" id="myTable">
                <% if (results.length == 0) { %>
                 <div class="text-center ">
                  <img class="noResults" src="/img/noResults.png" alt="">
                 </div>
                <% }else { %>
                  <thead>
                    <tr>
                      <th scope="col" class="col">Aplicación</th>
                      <th scope="col" class="col">Archivo</th>
                      <th scope="col" class="col">Actualizado</th>
                      <th scope="col" class="col-2">Acciones</th>
                    </tr>
                  </thead>
                  <% } %>
                <tbody>
                  <% results.forEach(guia => { %>
                    <tr>
                      <td><%= guia.aplicacion %> </td>
                      <td><%= guia.archivo %></td>
                      <td><%= guia.actualizado %></td>
                      <td>
                        <div class="d-flex justify-content-between">
                          <a href="#" class="btn btn-sm btn-warning btnEdit"><i class="bi bi-pencil"></i></a>
                          
                          <a href="/ajustes/guias-conf/deleteGuide/<%= guia.id %>" class="btn btn-sm btn-danger btnDelete" onclick="return confirm('Seguro que quiere borrar la Guia de <%= guia.aplicacion %> ?')"><i class="bi bi-trash"></i></a>
                        </div>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>   
          </div>

              <!-- *****************************MOBILE CARDS EDIT****************************** -->
            <div class="container tabla-mobile" id="tabla-mobile">
              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 mt-3" id="servicesHomePage">
                  <div class="col">
                    <div class="card mb-2 cardHome cardShadow" id="opera-codes">
                        <div class="card-header fixSizeHeadEdit">
                          <div class="my-0 text-center card-title">Aplicación</div>
                      </div>
                      <div class="card-body">
                            <div class="accordion" id="accordionFlushExample">
                              <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOneID" aria-expanded="false" aria-controls="flush-collapseOne">
                                  Más Información
                                  </button>
                                </h2>
                                <div id="flush-collapseOneID" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                    <p>Archivo</p>
                                    <p>Actualizado</p>
                                 
                                    
                                  <hr>
                                  <div class="d-flex justify-content-between">
                                    <a href="#" data-bs-toggle="#" data-bs-target="#serviceUpdate" class="btn btn-sm btn-warning btnEdit"><i class="bi bi-pencil"></i></a>
                            
                                    <a href="#" class="btn btn-sm btn-danger btnDelete" onclick="return confirm('Seguro que quiere borrar la Guia?')"><i class="bi bi-trash"></i></a>
                                  </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                      </div>

                    </div>
                  </div>
              </div>
            </div>

      </div>
      </div>

    <footer>
      <hr>
      <div class="container">
        <div class="container">
          <img src="/img/golflogo.png" class="logoFoot" alt="">
        </div>
            <p class="text-muted miFirma">© 2022 German Cruz - Reception Team</p>
      </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="/js/services.js"></script>
    <script type="module" src="/js/rates.js"></script> -->
  </body>
</html>
