<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"><i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/opera"><i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/minigolf"><i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(user.rol === "Admin"){ %>
			<a class="d-block active" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">AJUSTES - GUIAS </span>
				<div class="btn-group dropstart">
					<% if(user.rol === "Admin"){ %>
					<a class="btn btn-success dropdown-toggle btnShadow" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-light"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } else { %>
					<a class="btn btn-warning dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-dark"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } %>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/edit-usuario-actual">Editar</a></li>
						<li><a class="dropdown-item" href="/logout">Salir</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i class="bi bi-house-up" id="titulo"></i></a>
				<span class="text-uppercase text-light" id="navbarSM"></span>
				<button
					class="navbar-toggler navbar-dark"
					data-bs-toggle="collapse"
					data-bs-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation"
					onclick="openNav()">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="mySidenav" class="sidenav">
					<div id="main">
						<div class="dropdown btn-perfil">
							<% if(user.rol === "Admin"){ %>
							<button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-light text-uppercase"><%= user.username %></span>
							</button>
							<% } else { %>
							<button class="btn btn-warning btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-dark text-uppercase"><%= user.username %></span>
							</button>
							<% } %>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item text-dark" href="/edit-usuario-actual">Editar</a></li>
								<li>
									<a class="dropdown-item text-dark" href="/logout">Salir</a>
								</li>
							</ul>
						</div>
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a class="nav-link" href="/index">Inicio</a>
						<a class="nav-link" href="/tarifas">Tarifas</a>
						<a class="nav-link" href="/guias">GUIAS</a>
						<a class="nav-link" href="/opera">CÓD. OPERA</a>
						<a class="nav-link" href="/minigolf">MINI GOLF</a>
						<% if(user.rol === "Admin"){ %>
						<a class="d-block active" href="/ajustes">AJUSTES </a>
						<% } else { %>
						<a class="d-none" href="/ajustes">AJUSTES </a>
						<% } %>
					</div>
				</div>
			</div>
		</nav>
		<% } %>

		<div class="content">
			<div id="Guias" class="afterNav">
				<div class="card editShadow mb-3">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<div class="text-center mb-3">
								<h5 class="text-uppercase mt-2" id="titulo">Subir Guías</h5>
							</div>
							<div id="btnGuiaBase">
								<a
									href="https://drive.google.com/drive/folders/1CMxxgG371jXmxJcPug3FEXpx2LLaLmtP?usp=sharing"
									target="_blank"
									class="btn btn-success btnShadow"
									>Ver Guias base
								</a>
							</div>
						</div>

						<form id="guides-form" name="form1" action="/uploadGuide" enctype="multipart/form-data" method="POST">
							<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
								<div class="col">
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control"
											name="aplicacion"
											id="nombreGuia"
											placeholder="Nombre de la aplicación"
											required
											onkeyup="mayus(this), inform()" />
										<label for="nombreGuia" class="form-label">Nombre de la aplicación</label>
									</div>
								</div>
								<div class="col">
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control"
											name="descripcion"
											id="descripcion"
											placeholder="Descripción"
											required
											onkeyup="inform()" />
										<label for="descripcion" class="form-label">Descripción</label>
									</div>
								</div>
							</div>

							<div class="input-group mb-3">
								<input
									type="file"
									class="form-control"
									id="fileGuide"
									name="archivo"
									accept=".pdf"
									aria-describedby="inputGroupFileAddon04"
									aria-label="Upload"
									onChange="inform()"
									required />
								<button class="btn btn-success" id="upload" type="submit" disabled onclick="showSpinner()">Enviar</button>
							</div>
						</form>

						<!-- SPINNER SUBIENDO -->
						<div id="showSpin" class="mt-4">
							<div class="d-flex align-items-center mt-1">
								<strong>Subiendo archivo...</strong>
								<div class="spinner-border me-auto text-danger" id="spinnerUpload" role="status" aria-hidden="true"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="card editShadow">
					<div class="card-body">
						<% if (results.length == 0) { %>
						<div class="text-center">
							<img class="noResults" src="/img/noResults.PNG" alt="" />
							<h5 class="text-uppercase mt-3">No hay resultados</h5>
						</div>

						<% }else { %>
						<h5 class="text-uppercase text-center mb-3">guías actualizadas</h5>
						<% if (message.length > 0) { %>
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<i class="bi bi-check-circle"></i> <%= message %><button
								type="button"
								class="btn-close"
								data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
						<% } %> <% resultsFilteredGuides.forEach(filtrada => { %>
						<div class="accordion" id="accordionExample<%= filtrada %>">
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading<%= filtrada %>">
									<button
										class="accordion-button collapsed btn-accordion"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapse<%= filtrada %>"
										aria-expanded="true"
										aria-controls="collapse<%= filtrada %>">
										<div class="my-0 row">
											<div class="col"><%= filtrada %></div>
										</div>
									</button>
								</h2>
								<div
									id="collapse<%= filtrada %>"
									class="accordion-collapse collapse"
									aria-labelledby="heading<%= filtrada %>"
									data-bs-parent="#accordionExample<%= filtrada %>">
									<div class="accordion-body p-2">
										<table class="table" id="myTable">
											<thead>
												<tr>
													<th scope="col" class="col-6 col-xl-3">Actualizado</th>
													<th scope="col" class="col-2 hide-column">Tamaño</th>
													<th scope="col" class="col hide-column px-0">Descripción</th>
													<th scope="col" class="col-2">Acciones</th>
												</tr>
											</thead>
											<% results.forEach(guia => { %> <% if (resultsFilteredGuides && guia.aplicacion === filtrada) { %>
											<tbody>
												<tr>
													<td
														class="hide-text info"
														onclick="alert('- <%= guia.aplicacion %> -\n\n Tamaño: <% if (guia.fileSize >= 1000000) { %> <%= (guia.fileSize/1000000).toFixed(2); %> MB <% } else if (guia.fileSize >= 1000) { %> <%= (guia.fileSize/1000).toFixed(2); %> KB  <% } else { %> <%= guia.fileSize %> bytes <% } %>\n\n Actualizado: <%= guia.actualizado %>\n\n Descripción: <%= guia.descripcion %>')">
														<span class="editCenter px-2"><%= guia.actualizado %></span>
													</td>
													<% if (guia.fileSize >= 1000000) { %>
													<td class="hide-column"><%= (guia.fileSize/1000000).toFixed(2); %> MB</td>
													<% } else if (guia.fileSize >= 1000) { %>
													<td class="hide-column"><%= (guia.fileSize/1000).toFixed(2); %> KB</td>
													<% } else { %>
													<td class="hide-column"><%= guia.fileSize %> bytes</td>
													<% } %>
													<td class="hide-column hide-text"><span><%= guia.descripcion %></span></td>
													<td class="d-flex justify-content-between">
														<a href="/downloadGuide/<%= guia.id %>" target="_blank" class="btn btn-sm btn-success btnAction btnShadow"
															><i class="bi bi-cloud-download"></i
														></a>

														<a
															href="/ajustes/guias-conf/deleteGuide/<%= guia.id %>"
															class="btn btn-sm btn-danger btnAction btnShadow"
															onclick="return confirm_delete()"
															><i class="bi bi-trash"></i
														></a>
													</td>
												</tr>
											</tbody>
											<% } %> <% }) %>
										</table>
									</div>
								</div>
							</div>
						</div>
						<% }) %> <% } %>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>

		<script src="/js/spinnerLoader.js"></script>
	</body>
</html>
