<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"><i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/opera"><i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/minigolf"><i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(user.rol === "Admin"){ %>
			<a class="d-block active" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">AJUSTES - GUIAS </span>
				<div class="btn-group dropstart">
					<% if(user.rol === "Admin"){ %>
					<a class="btn btn-success dropdown-toggle btnShadow" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-light"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } else { %>
					<a class="btn btn-warning dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-dark"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } %>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/edit-usuario-actual">Editar</a></li>
						<li><a class="dropdown-item" href="/logout">Salir</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i class="bi bi-house-up" id="titulo"></i></a>
				<span class="text-uppercase text-light" id="navbarSM"></span>
				<!-- OFFCANVAS -->
				<button
					class="navbar-toggler navbar-dark"
					type="button"
					data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasWithBothOptions"
					aria-controls="offcanvasWithBothOptions">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div
					class="offcanvas offcanvas-start new_sidenav"
					data-bs-scroll="true"
					tabindex="-1"
					id="offcanvasWithBothOptions"
					aria-labelledby="offcanvasWithBothOptionsLabel">
					<div class="offcanvas-header">
						<div class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
							<div class="dropdown btn-perfil">
								<% if(user.rol === "Admin"){ %>
								<button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="text-light text-uppercase"><i class="bi bi-person-gear"></i>&nbsp;<%= user.username %></span>
								</button>
								<% } else { %>
								<button class="btn btn-warning btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="text-dark text-uppercase"><%= user.username %></span>
								</button>
								<% } %>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item text-dark" href="/edit-usuario-actual">Editar</a></li>
									<li><a class="dropdown-item text-dark" href="/logout">Salir</a></li>
								</ul>
							</div>
						</div>
						<div data-bs-theme="dark">
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
						</div>
					</div>
					<div class="offcanvas-body">
						<div class="mt-3">
							<a class="nav-link" href="/index"><i class="bi bi-house-check"></i>&nbsp; Inicio</a>
							<a class="nav-link" href="/tarifas"><i class="bi bi-currency-dollar"></i>&nbsp; Tarifas</a>
							<a class="nav-link" href="/guias"><i class="bi bi-journal-text"></i>&nbsp; GUÍAS</a>
							<a class="nav-link" href="/opera"><i class="bi bi-upc-scan"></i>&nbsp; CÓDIGOS OPERA</a>
							<a class="nav-link" href="/minigolf"><i class="bi bi-houses"></i>&nbsp; MINI GOLF</a>
							<% if(user.rol === "Admin"){ %>
							<a class="d-block active" href="/ajustes"><i class="bi bi-gear"></i>&nbsp; AJUSTES </a>
							<% } else { %>
							<a class="d-none" href="/ajustes">AJUSTES </a>
							<% } %>
						</div>
					</div>
					<div class="offcanvas-footer text-light text-center">
						<hr />
						<h5 class="text-uppercase">Guía Hard Rock Golf</h5>
					</div>
				</div>
				<!-- OFFCANVAS -->
			</div>
		</nav>
		<% } %>

		<div class="content">
			<div id="Guias" class="afterNav">
				<div class="card editShadow mb-3">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<div class="text-center mb-3">
								<h5 class="text-uppercase mt-2" id="titulo">Subir Guías</h5>
							</div>
							<div id="btnGuiaBase">
								<a
									href="https://drive.google.com/drive/folders/1CMxxgG371jXmxJcPug3FEXpx2LLaLmtP?usp=sharing"
									target="_blank"
									class="btn btn-success btnShadow"
									>Ver Guias base
								</a>
							</div>
						</div>

						<form id="guides-form" name="form1" action="/uploadGuide" enctype="multipart/form-data" method="POST">
							<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
								<div class="col">
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control"
											name="aplicacion"
											id="nombreGuia"
											placeholder="Nombre de la aplicación"
											required
											onkeyup="mayus(this), inform()" />
										<label for="nombreGuia" class="form-label">Nombre de la aplicación</label>
									</div>
								</div>
								<div class="col">
									<div class="form-floating mb-3">
										<input
											type="text"
											class="form-control"
											name="descripcion"
											id="descripcion"
											placeholder="Descripción"
											required
											onkeyup="inform()" />
										<label for="descripcion" class="form-label">Descripción</label>
									</div>
								</div>
							</div>

							<div class="input-group mb-3">
								<input
									type="file"
									class="form-control"
									id="fileGuide"
									name="archivo"
									accept=".pdf"
									aria-describedby="inputGroupFileAddon04"
									aria-label="Upload"
									onChange="inform()"
									required />
								<button class="btn btn-success" id="upload" type="submit" disabled onclick="showSpinner()">Enviar</button>
							</div>
						</form>

						<!-- SPINNER SUBIENDO -->
						<div id="showSpin" class="px-2 mt-4">
							<div class="d-flex align-items-center mt-1">
								<strong>Subiendo archivo...</strong>
								<div class="spinner-border me-auto text-danger" id="spinnerUpload" role="status" aria-hidden="true"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="card editShadow">
					<div class="card-body">
						<% if (results.length == 0) { %>
						<div class="text-center">
							<img class="noResults" src="/img/noResults.PNG" alt="" />
							<h5 class="text-uppercase mt-3">No hay resultados</h5>
						</div>

						<% }else { %>
						<h5 class="text-uppercase text-center mb-3">guías actualizadas</h5>
						<% if (message.length > 0) { %>
						<div class="alert alert-success alert-dismissible fade show btnShadow" role="alert">
							<i class="bi bi-check-circle"></i> <%= message %><button
								type="button"
								class="btn-close"
								data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
						<% } %> <% resultsFilteredGuides.forEach(filtrada => { %>
						<div class="accordion" id="accordionExample<%= filtrada %>">
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading<%= filtrada %>">
									<button
										class="accordion-button collapsed btn-accordion"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapse<%= filtrada %>"
										aria-expanded="true"
										aria-controls="collapse<%= filtrada %>">
										<div class="my-0 row">
											<div class="col"><%= filtrada %></div>
										</div>
									</button>
								</h2>
								<div
									id="collapse<%= filtrada %>"
									class="accordion-collapse collapse"
									aria-labelledby="heading<%= filtrada %>"
									data-bs-parent="#accordionExample<%= filtrada %>">
									<div class="accordion-body p-2">
										<table class="table" id="myTable">
											<thead>
												<tr>
													<th scope="col" class="col-6 col-xl-3">Actualizado</th>
													<th scope="col" class="col-2 hide-column">Tamaño</th>
													<th scope="col" class="col hide-column px-0">Descripción</th>
													<th scope="col" class="col-2">Acciones</th>
												</tr>
											</thead>
											<% results.forEach(guia => { %> <% if (resultsFilteredGuides && guia.aplicacion === filtrada) { %>
											<tbody>
												<tr>
													<td class="hide-text info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= guia.id %>">
														<span class="editCenter px-2"><%= guia.actualizado %></span>
													</td>
													<% if (guia.fileSize >= 1000000) { %>
													<td class="hide-column"><%= (guia.fileSize/1000000).toFixed(2); %> MB</td>
													<% } else if (guia.fileSize >= 1000) { %>
													<td class="hide-column"><%= (guia.fileSize/1000).toFixed(2); %> KB</td>
													<% } else { %>
													<td class="hide-column"><%= guia.fileSize %> bytes</td>
													<% } %>
													<td class="hide-column hide-text"><span><%= guia.descripcion %></span></td>
													<td class="d-flex justify-content-between">
														<a href="/downloadGuide/<%= guia.id %>" target="_blank" class="btn btn-sm btn-success btnAction btnShadow"
															><i class="bi bi-cloud-download"></i
														></a>

														<a
															href="/ajustes/guias-conf/deleteGuide/<%= guia.id %>"
															class="btn btn-sm btn-danger btnAction btnShadow"
															onclick="return confirm_delete()"
															><i class="bi bi-trash"></i
														></a>
													</td>
												</tr>
												<!-- Modal -->
												<div
													class="modal fade"
													id="staticBackdrop<%= guia.id %>"
													tabindex="-1"
													aria-labelledby="staticBackdropLabel"
													aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered">
														<div class="modal-content">
															<div class="modal-header">
																<h1 class="modal-title fs-5" id="staticBackdropLabel"><%= guia.aplicacion %></h1>
																<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
															</div>
															<div class="modal-body">
																<% if (guia.fileSize >= 1000000) { %>
																<h6><strong>Peso: </strong><%= (guia.fileSize/1000000).toFixed(2); %> MB</h6>
																<% } else if (guia.fileSize >= 1000) { %>
																<h6><strong>Peso: </strong><%= (guia.fileSize/1000).toFixed(2); %> KB</h6>
																<% } else { %>
																<h6><strong>Peso: </strong><%= guia.fileSize %> bytes</h6>
																<% } %>

																<h6><strong>Actualizado: </strong><%= guia.actualizado %></h6>
																<h6><strong>Descripción: </strong><%= guia.descripcion %></h6>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
															</div>
														</div>
													</div>
												</div>
											</tbody>
											<% } %> <% }) %>
										</table>
									</div>
								</div>
							</div>
						</div>
						<% }) %> <% } %>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>

		<script src="/js/spinnerLoader.js"></script>
	</body>
</html>
