<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">AJUSTES - GUIAS </span>
				<%- include ('../partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Guias" class="afterNav">
				<div class="card editShadow mb-3">
					<div class="card-body">
						<div class="text-center mb-3">
							<h5 class="text-uppercase" id="titulo">Subir Guías</h5>
							<hr />
						</div>

						<form id="guides-form" name="form1" action="/uploadGuide" enctype="multipart/form-data" method="POST">
							<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
								<div class="col">
									<div class="mb-3">
										<input
											type="text"
											class="form-control"
											name="aplicacion"
											id="nombreGuia"
											placeholder="Nombre de la aplicación"
											required
											onkeyup="mayus(this), inform()" />
									</div>
								</div>
								<div class="col">
									<div class="input-group">
										<div class="input-group">
											<input
												type="file"
												class="form-control"
												id="fileGuide"
												name="archivo"
												accept=".pdf"
												aria-describedby="inputGroupFileAddon04"
												aria-label="Upload"
												onChange="inform()"
												required />
											<button class="btn btn-success" id="upload" type="submit" disabled onclick="showSpinner()">Enviar</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<hr />
						<div id="btnGuiaBase">
							<a
								href="https://drive.google.com/drive/folders/1CMxxgG371jXmxJcPug3FEXpx2LLaLmtP?usp=sharing"
								target="_blank"
								class="btn btn-success btnShadow"
								>Ver Guias base
							</a>
						</div>
						<!-- SPINNER SUBIENDO -->
						<div id="showSpin" class="d-none">
							<div class="d-flex align-items-center mt-1">
								<strong>Subiendo archivo...</strong>
								<div class="spinner-border me-auto text-danger" id="spinnerUpload" role="status" aria-hidden="true"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="card editShadow">
					<div class="card-body">
						<!-- <div class="text-center">
							<h5 class="text-uppercase">Guías actualizadas</h5>
							<hr />
						</div> -->

						<!-- <div class="mb-3 inputSize">
							<form role="search">
								<div class="input-group">
									<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
									<input class="form-control" type="search" id="myInput" onkeyup="filtroBusqueda()" placeholder="Buscar Guia" aria-label="Search" />
								</div>
							</form>
						</div> -->

						<% if (results.length == 0) { %>
						<div class="text-center">
							<img class="noResults" src="/img/noResults.PNG" alt="" />
							<h4 class="text-uppercase mt-3">No hay resultados</h4>
						</div>
						<% }else { %> <% resultsFilteredGuides.forEach(filtrada => { %>
						<div class="accordion" id="accordionExample<%= filtrada %>">
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading<%= filtrada %>">
									<button
										class="accordion-button collapsed btn-accordion"
										type="button"
										data-bs-toggle="collapse"
										data-bs-target="#collapse<%= filtrada %>"
										aria-expanded="true"
										aria-controls="collapse<%= filtrada %>">
										<div class="my-0 row">
											<div class="col"><%= filtrada %></div>
										</div>
									</button>
								</h2>
								<div
									id="collapse<%= filtrada %>"
									class="accordion-collapse collapse"
									aria-labelledby="heading<%= filtrada %>"
									data-bs-parent="#accordionExample<%= filtrada %>">
									<div class="accordion-body p-2">
										<table class="table" id="myTable">
											<thead>
												<tr>
													<th scope="col" class="col-6 col-xl-3">Actualizado</th>
													<th scope="col" class="col hide-column">Tamaño</th>
													<!-- <th scope="col" class="col hide-column">Actualizado</th> -->
													<th scope="col" class="col-2">Acciones</th>
												</tr>
											</thead>
											<% results.forEach(guia => { %> <% if (resultsFilteredGuides && guia.aplicacion === filtrada) { %>
											<tbody>
												<tr>
													<td
														class="hide-text info"
														onclick="alert('- <%= guia.aplicacion %> -\n\n Tamaño: <% if (guia.fileSize >= 1000000) { %> <%= (guia.fileSize/1000000).toFixed(2); %> MB <% } else if (guia.fileSize >= 1000) { %> <%= (guia.fileSize/1000).toFixed(2); %> KB  <% } else { %> <%= guia.fileSize %> bytes <% } %>\n\n Actualizado: <%= guia.actualizado %>')">
														<span class="editCenter px-2"><%= guia.actualizado %></span>
													</td>
													<% if (guia.fileSize >= 1000000) { %>
													<td class="hide-column"><%= (guia.fileSize/1000000).toFixed(2); %> MB</td>
													<% } else if (guia.fileSize >= 1000) { %>
													<td class="hide-column"><%= (guia.fileSize/1000).toFixed(2); %> KB</td>
													<% } else { %>
													<td class="hide-column"><%= guia.fileSize %> bytes</td>
													<% } %>
													<!-- <td class="hide-column"><%= guia.actualizado %></td> -->
													<td class="d-flex justify-content-between">
														<a href="/downloadGuide/<%= guia.id %>" target="_blank" class="btn btn-sm btn-success btnAction btnShadow"
															><i class="bi bi-filetype-pdf"></i
														></a>

														<a
															href="/ajustes/guias-conf/deleteGuide/<%= guia.id %>"
															class="btn btn-sm btn-danger btnAction btnShadow"
															onclick="return confirm('Seguro que quiere borrar la Guia de <%= guia.aplicacion %> del <%= guia.actualizado %>?')"
															><i class="bi bi-trash"></i
														></a>
													</td>
												</tr>
											</tbody>
											<% } %> <% }) %>
										</table>
									</div>
								</div>
							</div>
						</div>
						<% }) %> <% } %>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>

		<script src="/js/spinnerLoader.js"></script>
	</body>
</html>
