<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - CÓDIGOS OPERA</span>
				<%- include ('../partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase" id="titulo">NuevO CÓDIGO OPERA</h4>
				</div>
				<div class="cardEdit-container">
					<div class="card editShadow">
						<div class="card-body">
							<form id="add_new_form" action="/createCode" method="POST">
								<div class="form-floating mb-3">
									<input type="number" class="form-control" name="codigo" placeholder="Escriba el Código" required />
									<label for="codeTitle" id="codeTitle" class="form-label">Código</label>
								</div>
								<div class="form-floating mb-3">
									<input type="text" class="form-control" name="nombre" placeholder="Escriba el Nombre" required />
									<label for="codeName" id="codeName" class="form-label">Nombre</label>
								</div>
								<div class="mb-3">
									<div class="form-floating">
										<select class="form-select mb-3" name="uso" aria-label="uso-selector" required>
											<option selected value="">Elegir:</option>
											<option value="Campo Golf">Campo Golf</option>
											<option value="Mini Golf">Mini Golf</option>
											<option value="Pagos">Pagos</option>
										</select>
										<label for="code-use" class="form-label">Dónde se usa?</label>
									</div>
								</div>
								<div class="form-floating mb-3">
									<textarea
										class="form-control"
										id="descripcion"
										name="descripcion"
										placeholder="Descripción"
										style="height: 100px"
										required></textarea>
									<label for="code-desc" class="form-label">Descripción</label>
								</div>

								<div class="new-form-button">
									<button type="submit" class="btn btn-success btnAction btnShadow" id="botonAdd">AGREGAR</button>
									<a href="/ajustes/opera-codes" class="btn btn-danger btnAction btnShadow">CANCELAR</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
