<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - USUARIOS</span>
				<%- include ('../partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase">Nuevo Usuario</h4>
				</div>
				<div class="cardEdit-container">
					<div class="card editShadow">
						<div class="card-body">
							<form id="users-form" action="/createUser" method="POST">
								<div class="mb-3">
									<label for="userName" class="form-label">Nombre</label>
									<input
										type="text"
										class="form-control"
										name="nombre"
										class="text-capitalized"
										placeholder="Escriba el nombre del usuario"
										required />
								</div>
								<div class="mb-3">
									<label for="userNickname" class="form-label">Nombre de usuario</label>
									<input type="text" class="form-control" name="username" placeholder="Nickname" required onkeyup="mayus(this)" required />
								</div>
								<div class="row row-cols-1 row-cols-sm-2">
									<div class="col mb-3">
										<label for="userPass" class="form-label">Contraseña</label>
										<input
											type="password"
											class="form-control"
											name="password"
											id="password"
											placeholder="Escriba la Contraseña"
											onkeyup="checkPass();"
											required />
										<div class="invalid-feedback">Ingrese la contraseña.</div>
									</div>
									<div class="col">
										<label for="userPass-conf" class="form-label">Repita la Contraseña</label>
										<input
											type="password"
											class="form-control"
											name="pass-conf"
											id="pass-conf"
											placeholder="Repita la Contraseña"
											onkeyup="checkPass();"
											required />
										<div class="mt-2">
											<span id="message"></span>
										</div>
									</div>
								</div>
								<div class="mb-4">
									<label for="userRole" class="form-label">Rol</label>
									<select class="form-select" name="rol" aria-label="role-selector" required>
										<option selected value="">Elija el rol del usuario</option>
										<option value="Admin">Admin</option>
										<option value="User">User</option>
									</select>
								</div>

								<div class="new-form-button">
									<button type="submit" class="btn btn-success btnAction btnShadow" id="botonAdd" disabled>AGREGAR</button>
									<a href="/ajustes/usuarios-conf" type="button" class="btn btn-danger btnAction btnShadow">CANCELAR</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
