<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">AJUSTES - SERVICIOS</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile.ejs') %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase" id="titulo">Nuevo Servicio</h4>
				</div>
				<div class="cardEdit-container">
					<div class="card">
						<div class="card-body">
							<form id="add_new_form" action="/createService" method="POST">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre del servicio" required />
									<label for="service-title" class="form-label">Nombre del servicio:</label>
								</div>
								<div class="row">
									<div class="col">
										<div class="form-floating mb-3">
											<input type="number" class="form-control" name="precio" placeholder="Precio del servicio " required />
											<label for="service-price" class="form-label">Precio:</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating">
											<select class="form-select mb-3" name="cod_opera" id="codOpera" aria-label="cliente-selector" required>
												<option disabled selected value="">Elegir:</option>
												<% results.forEach(code => { %>
												<option value="<%= code.codigo %>"><%= code.codigo %> - <%= code.nombre %></option>
												<% }) %>
											</select>
											<label for="rate-opera" class="form-label">Código OPERA: </label>
										</div>
									</div>
								</div>

								<div class="form-floating mb-3">
									<textarea
										class="form-control"
										name="descripcion"
										rows="3"
										placeholder="Descripción del servicio"
										style="height: 100px"
										required></textarea>
									<label for="TextareaService" class="form-label">Descripción:</label>
								</div>

								<div class="new-form-button">
									<button type="submit" class="btn btn-success btnAction btnShadow" id="botonAdd">AGREGAR</button>
									<a href="/ajustes/servicios-conf" class="btn btn-danger btnAction btnShadow">CANCELAR</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
