<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">AJUSTES - TTOO</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase" id="titulo">Nuevo Tour Operador</h4>
				</div>
				<div class="text-center mb-3">
					<span>*Si el TTOO no tiene tarifa de Twilight definida, <strong>dejar twilight en cero (0)*</strong> </span>
				</div>
				<div class="cardEdit-container">
					<div class="card editShadow">
						<div class="card-body">
							<% if (message.length > 0) { %>
							<div class="alert alert-warning alert-dismissible fade show btnShadow text-center" role="alert">
								<i class="bi bi-exclamation-triangle"></i> <%= message %><button
									type="button"
									class="btn-close"
									data-bs-dismiss="alert"
									aria-label="Close"></button>
							</div>
							<% } %>
							<form id="add_new_form" action="/createTtoo" method="POST">
								<div class="form-floating mb-3">
									<input type="text" class="form-control" name="nombre" id="nombre" placeholder="Escriba el nombre del TTOO" required />
									<label for="service-title" class="form-label">Nombre TTOO:</label>
								</div>
								<div class="row row-cols-1 row-cols-sm-3">
									<div class="col">
										<div class="form-floating mb-3">
											<input type="number" step="0.01" class="form-control" name="green_fee" placeholder="Precio Green Fee" required />
											<label for="service-green_fee" class="form-label">Green Fee:</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating mb-3">
											<input type="number" step="0.01" class="form-control" name="twilight" placeholder="Precio Twilight" required />
											<label for="service-twiligt" class="form-label">Twilight:</label>
										</div>
									</div>
									<div class="col">
										<div class="form-floating">
											<select class="form-select mb-3" name="cod_opera" id="codOpera" aria-label="cliente-selector">
												<% results.forEach(code => { %>
												<option value="<%= code.codigo %>"><%= code.codigo %> - <%= code.nombre %></option>
												<% }) %>
											</select>
											<label for="rate-opera" class="form-label">Código OPERA: </label>
										</div>
									</div>
								</div>
								<div class="form-floating mb-3">
									<textarea class="form-control" name="operacion" placeholder="Descripción" style="height: 100px" required></textarea>
									<label for="TextareaService" class="form-label">Descripción:</label>
								</div>

								<div class="new-form-button">
									<button type="submit" class="btn btn-success btnAction btnShadow" id="botonAdd">AGREGAR</button>
									<a href="/ajustes/conf_ttoo" class="btn btn-danger btnAction btnShadow">CANCELAR</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
