<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - CÓDIGOS OPERA</span>
				<%- include ('../partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Codigos" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase d-none" id="titulo">AJUSTES - CÓDIGOS OPERA</h4>
				</div>
				<div class="row d-flex justify-content-between">
					<div class="col-4">
						<a href="/ajustes/new-opera-codes" class="btn btn-success btnShadow" id="btnService"> AGREGAR </a>
						<!-- Button trigger modal -->
					</div>
					<div class="col-8" id="inputBuscar"><%- include ('../partials/buscar-conf.ejs') %></div>
				</div>

				<div class="text-center mt-3 mb-2 hide-column-message">
					<span>*Seleccione un Código para ver su Descripción*</span>
				</div>

				<div class="card mt-3">
					<div class="card-body">
						<div class="text-center mb-3"><h5>Mostrar códigos:</h5></div>
						<div class="text-center mb-3">
							<div class="form-check form-check-inline">
								<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="campogolf" id="campogolf" />
								<label class="form-check-label" for="campogolf"> Campo de Golf </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="minigolf" id="minigolf" />
								<label class="form-check-label" for="minigolf"> Mini Golf </label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input opera-code-check" type="checkbox" onclick="filterCheckbox()" value="pagos" id="pagos" />
								<label class="form-check-label" for="pagos"> Pagos </label>
							</div>
						</div>
						<table class="table table-hover" id="myTable">
							<thead>
								<tr>
									<th scope="col" class="col-1">Código</th>
									<th scope="col" class="col-4 col-4 col-xl-3 px-0">Nombre</th>
									<th scope="col" class="col-2 hide-column">Uso</th>
									<th scope="col" class="col-3 col-xl-4 hide-column px-0">Descripción</th>
									<th scope="col" class="col-2">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((code) => { %>
								<tr>
									<td
										class="info"
										onclick="alert('-Código: <%= code.codigo %> -\n\n Nombre: <%= code.nombre%> \n\n Uso: <%= code.uso %>\n\n Descripción: <%= code.descripcion %>')">
										<span><%= code.codigo %> </span>
									</td>
									<td
										class="hide-text info"
										onclick="alert('-Código: <%= code.codigo %> -\n\n Nombre: <%= code.nombre%> \n\n Uso: <%= code.uso %>\n\n Descripción: <%= code.descripcion %>')">
										<span
											><%= code.nombre %>
											<div class="verInfo">
												-
												<i class="bi bi-info-circle"></i></div
										></span>
									</td>
									<td class="hide-column"><%= code.uso %></td>
									<td class="hide-text hide-column">
										<span><%= code.descripcion %></span>
									</td>
									<td class="d-flex justify-content-between">
										<a href="/ajustes/edit-codes/<%= code.id %>" title="Editar Código" class="btn btn-sm btn-warning btnAction btnShadow"
											><i class="bi bi-pencil"></i
										></a>

										<a
											href="/ajustes/opera-codes/deleteCode/<%= code.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow"
											onclick="return confirm_delete()"
											><i class="bi bi-trash"></i
										></a>
									</td>
								</tr>
								<% }) %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
		<script>
			window.onload = checkAllCodes()
		</script>
	</body>
</html>
