<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - SERVICIOS</span>
				<%- include ('../partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase d-none" id="titulo">servicios</h4>
				</div>
				<div class="row">
					<div class="col-4">
						<a href="/ajustes/new-servicio" class="btn btn-success btnShadow" id="btnService"> AGREGAR </a>
						<!-- Button trigger modal -->
					</div>
					<div class="col-8" id="inputBuscar">
						<form role="search">
							<div class="input-group">
								<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
								<input
									class="form-control"
									type="search"
									id="myInput"
									size="100"
									onkeyup="filtroBusqueda(0.6)"
									placeholder="Buscar Servicios"
									aria-label="Search" />
							</div>
						</form>
					</div>
				</div>

				<div class="card mt-3 tabla-desktop">
					<div class="card-body">
						<table class="table" id="myTable">
							<thead id="tabla-vacia">
								<tr>
									<th scope="col" class="col-3">Nombre</th>
									<th scope="col" class="col">Precio USD</th>
									<th scope="col" class="col">Opera</th>
									<th scope="col" class="col-4" id="descripcion">Descripción</th>
									<th scope="col" class="col-2">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((service) => { %>
								<tr>
									<td><%= service.nombre %></td>
									<td><%= service.precio%>.00</td>
									<% if (service.cod_opera == 0) { %>
									<td>NO POST</td>
									<% } else if (service.cod_opera == 1){ %>
									<td>MULTIPLE</td>
									<% } else { %>
									<td><%= service.cod_opera%></td>
									<% } %>
									<td class="hide-text info" onclick="alert('- <%= service.nombre %> -\n\n <%= service.descripcion %>')">
										<span><%= service.descripcion %></span>
									</td>

									<td>
										<a href="/ajustes/servicios-conf/<%= service.id %>" title="Editar Servicio" class="btn btn-sm btn-warning btnAction btnShadow"
											><i class="bi bi-pencil"></i
										></a>

										<a
											href="/ajustes/servicios-conf/deleteService/<%= service.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow"
											onclick="return confirm('Seguro que quiere borrar el servicio <%= service.nombre %>?')"
											><i class="bi bi-trash"></i
										></a>
									</td>
								</tr>
								<% }) %>
							</tbody>
						</table>
					</div>
				</div>

				<!-- *****************************MOBILE CARDS EDIT****************************** -->
				<div class="tabla-mobile" id="tabla-mobile">
					<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 mt-3" id="servicesHomePage">
						<% results.forEach((service) => { %>
						<div class="col">
							<div class="card cardHome cardShadow mb-4" id="serviceTest">
								<div class="card-header fixSizeHeadEdit">
									<div class="row card-title">
										<div class="col-9"><%= service.nombre %></div>
										<div class="col-3">
											<% if (service.precio == 0 && service.nombre == "Torneos") { %> COTIZA <% } else { %> USD <%= service.precio%><% } %>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="accordion" id="accordionFlushExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="flush-headingOne<%= service.id %>">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#flush-collapseOne<%= service.id %>"
													aria-expanded="false"
													aria-controls="flush-collapseOne">
													<% if (service.cod_opera == 0) { %>Opera: NO POST <% } else if (service.cod_opera == 1){ %>Opera: MULTIPLE <% } else { %>
													Opera: <%= service.cod_opera%> <% } %>
												</button>
											</h2>
											<div
												id="flush-collapseOne<%= service.id %>"
												class="accordion-collapse collapse"
												aria-labelledby="flush-headingOne"
												data-bs-parent="#accordionFlushExample">
												<div class="accordion-body">
													<%= service.descripcion %>
													<hr />
													<div class="d-flex justify-content-between">
														<a href="/ajustes/servicios-conf/<%= service.id %>" class="btn btn-sm btn-warning btnAction btnShadow"
															><i class="bi bi-pencil"></i
														></a>

														<a
															href="/ajustes/servicios-conf/deleteService/<%= service.id %>"
															class="btn btn-sm btn-danger btnAction btnShadow"
															onclick="return confirm('Seguro que quiere borrar el servicio <%= service.nombre %>?')"
															><i class="bi bi-trash"></i
														></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% }) %>
					</div>
				</div>

				<!-- *************************SIN RESULTADOS********************
            <img src="/img/noResults.PNG" alt="" id="noResults">
         *************************SIN RESULTADOS******************** -->
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
