<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">AJUSTES - SERVICIOS</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<div id="Servicios" class="afterNav">
				<div class="row">
					<div class="col-4">
						<a href="/ajustes/new-servicio" class="btn btn-success btnShadow" id="btnService"> AGREGAR </a>
						<!-- Button trigger modal -->
					</div>
					<div class="col-8" id="inputBuscar"><%- include ('../partials/buscar-conf.ejs') %></div>
				</div>
				<div class="text-center mt-3 mb-2">
					<span>*Seleccione un Servicio para ver su descripci贸n*</span>
				</div>

				<div class="card mt-3">
					<div class="card-body">
						<% if (message.length > 0) { %>
						<div class="alert alert-success alert-dismissible fade show btnShadow text-center" role="alert">
							<i class="bi bi-check-circle"></i> <%= message %><button
								type="button"
								class="btn-close"
								data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
						<% } %>
						<table class="table table-hover" id="myTable">
							<thead>
								<tr>
									<th scope="col" class="col-5 col-xl-3 px-0">Nombre</th>
									<th scope="col" class="col hide-column">Precio</th>
									<th scope="col" class="col hide-column">Opera</th>
									<th scope="col" class="col-4 hide-column px-0">Descripci贸n</th>
									<th scope="col" class="col-2">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((service) => { %>
								<tr>
									<td class="hide-text info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= service.id %>">
										<span class="editCenter"
											><%= service.nombre %>
											<div class="verInfo">
												-
												<i class="bi bi-info-circle"></i></div
										></span>
									</td>
									<td class="hide-column"><%= service.precio%>.00</td>
									<% if (service.cod_opera == 0) { %>
									<td class="hide-column">NO POST</td>
									<% } else if (service.cod_opera == 1){ %>
									<td class="hide-column">MULTIPLE</td>
									<% } else { %>
									<td class="hide-column"><%= service.cod_opera%></td>
									<% } %>
									<td class="hide-column hide-text">
										<span><%= service.descripcion %></span>
									</td>

									<td class="d-flex justify-content-between">
										<a href="/ajustes/edit-servicio/<%= service.id %>" title="Editar Servicio" class="btn btn-sm btn-warning btnAction btnShadow"
											><i class="bi bi-pencil"></i
										></a>

										<a
											href="/ajustes/servicios-conf/deleteService/<%= service.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow"
											onclick="return confirm_delete()"
											><i class="bi bi-trash"></i
										></a>
									</td>
								</tr>
								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop<%= service.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="staticBackdropLabel"><%= service.nombre %></h1>
												<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
											</div>
											<div class="modal-body">
												<% if (service.precio == 0 && service.nombre == "Torneos") { %>
												<h6><strong>Precio: </strong>COTIZAR</h6>
												<% } else { %>
												<h6><strong>Precio: </strong><%= service.precio%>.00</h6>
												<% } %>

												<h6>
													<strong>C贸digo Opera: </strong><% if (service.cod_opera == 0) { %><%= service.cod_opera = `NO POST`%><% } else if
													(service.cod_opera == 1){ %><%= service.cod_opera = `MULTIPLE`%><% } else { %><%= service.cod_opera%><% } %>
												</h6>

												<h6><strong>Descripci贸n: </strong><%= service.descripcion %></h6>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
											</div>
										</div>
									</div>
								</div>
								<% }) %>
							</tbody>
						</table>
						<div class="text-center" id="noResults">
							<img class="noResults" src="/img/noResults.PNG" alt="" />
							<h4 class="text-uppercase mt-3">No hay resultados</h4>
						</div>
					</div>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
