<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">AJUSTES - TARIFAS MINI GOLF</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile.ejs') %>

		<div class="content">
			<div id="Tarifas" class="afterNav">
				<div class="row d-flex justify-content-between">
					<div class="col-4">
						<a href="/ajustes/new-tarifas-mg" class="btn btn-success btnShadow" id="btnService"> AGREGAR </a>
						<!-- Button trigger modal -->
					</div>
					<div class="col-8" id="inputBuscar"><%- include ('../partials/buscar-conf.ejs') %></div>
				</div>
				<div class="text-center mt-3 mb-2">
					<span>*Seleccione una Tarifa para ver su descripción*</span>
				</div>

				<div class="card mt-3">
					<div class="card-body">
						<% if (message.length > 0) { %>
						<div class="alert alert-success alert-dismissible fade show btnShadow text-center" role="alert">
							<i class="bi bi-check-circle"></i> <%= message %><button
								type="button"
								class="btn-close"
								data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
						<% } %>
						<table class="table" id="myTable">
							<thead>
								<tr>
									<th scope="col" class="col-5 col-xl-3 px-0">Nombre</th>
									<th scope="col" class="col-2 hide-column">Precio</th>
									<th scope="col" class="col hide-column">Opera</th>
									<th scope="col" class="col-4 hide-column">Descripción</th>
									<th scope="col" class="col-2">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((rate) => { %>
								<tr>
									<td class="hide-text info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= rate.id %>">
										<span class="editCenter"
											><%= rate.nombre %>
											<div class="verInfo">
												-
												<i class="bi bi-info-circle"></i></div
										></span>
									</td>
									<% if (rate.precio > Math.floor(rate.precio)) { %>
									<td class="hide-column">
										<%= rate.precio%>0
										<div class="verInfo hide-column">
											- Ver Info
											<i class="bi bi-info-circle"></i>
										</div>
									</td>
									<% } else if (rate.precio == 0) { %>
									<td class="hide-column">
										Resort Cred.
										<div class="verInfo hide-column">
											- Ver Info
											<i class="bi bi-info-circle"></i>
										</div>
									</td>
									<% } else { %>
									<td class="hide-column">
										<%= rate.precio%>.00
										<div class="verInfo hide-column">
											- Ver Info
											<i class="bi bi-info-circle"></i>
										</div>
									</td>
									<% } %>
									<td class="hide-column"><%= rate.cod_opera%></td>
									<td class="hide-column hide-text"><span><%= rate.descripcion %></span></td>

									<td class="d-flex justify-content-between">
										<a
											href="/ajustes/edit-tarifa-mg/<%= rate.id %>"
											data-bs-toggle="#"
											data-bs-target="#rateUpdate"
											class="btn btn-sm btn-warning btnAction btnShadow"
											><i class="bi bi-pencil"></i
										></a>

										<a
											href="/ajustes/tarifas-mg/deleteRateMg/<%= rate.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow"
											onclick="return confirm_delete()"
											><i class="bi bi-trash"></i
										></a>
									</td>
								</tr>
								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop<%= rate.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="staticBackdropLabel"><%= rate.nombre %></h1>
												<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
											</div>
											<div class="modal-body">
												<% if (rate.precio > Math.floor(rate.precio)) { %>
												<h6><strong>Precio: </strong><%= rate.precio%>0</h6>
												<% } else if (rate.precio == 0) { %>
												<h6><strong>Precio: </strong>Resort Credits</h6>
												<% } else { %>
												<h6><strong>Precio: </strong><%= rate.precio%>.00</h6>

												<% } %> <% if (rate.cod_opera == 0) { %>
												<h6><strong>Código Opera: </strong>NO POST</h6>
												<% } else if (rate.cod_opera == 1){ %>
												<h6><strong>Código Opera: </strong>MULTIPLE</h6>
												<% } else { %>
												<h6><strong>Código Opera: </strong><%= rate.cod_opera%></h6>
												<% } %>

												<h6><strong>Descripción: </strong><%= rate.descripcion %></h6>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
											</div>
										</div>
									</div>
								</div>
								<% }) %>
							</tbody>
						</table>
						<div class="text-center" id="noResults">
							<img class="noResults" src="/img/noResults.PNG" alt="" />
							<h4 class="text-uppercase mt-3">No hay resultados</h4>
						</div>
					</div>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
