
  <%- include ('../partials/head-edits.ejs') %> 
  
  <body>
    
    <% if (user) { %>
      <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>
      
      <!-- NAV LG -->
      <nav class="navbar fixed-top navi">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - TTOO</span>
          <%- include ('../partials/ajustes/navbar-lg.ejs') %> 
          
        </nav>
        
        <!-- NAV SM -->
        <nav class="navbar navSmall fixed-top">  
          <%- include ('../partials/ajustes/navbar-sm.ejs') %> 
        </nav>
    <% } %>  

    <div class="content">
      
      <div id="Tarifas" class="afterNav">   
        <div class="row d-flex justify-content-between">
          <div class="col-5">
            <a href="/ajustes/new-ttoo" type="button" class="btn btn-success editShadow" id="btnService">
              <i class="bi bi-plus-circle"></i> AGREGAR
            </a>
             <!-- Button trigger modal -->
          </div>
          <div class="col-7" id="inputBuscar">
            <form role="search">
              <input class="form-control me-2" type="search" id="myInput" onkeyup="myFunction()"  placeholder="Buscar servicio" aria-label="Search">
            </form>
          </div>
        </div>
    
    
        <div class="card editShadow mt-4 tabla-desktop">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id="myTable">
              <thead>
                <tr>
                  <th scope="col" class="col">Nombre</th>
                  <th scope="col" class="col">Precio</th>
                  <th scope="col" class="col">Cod. Opera</th>
                  <th scope="col" class="col">Operación</th>
                  <th scope="col" class="col-2">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((ttoo) => { %>
                  <tr>
                    <td data-titulo="nombre:"><%= ttoo.nombre %></td>
                    <td data-titulo="precio:">USD <%= ttoo.precio%></td>
                    <td data-titulo="Opera:"><%= ttoo.cod_opera%></td>
                    <td data-titulo="Ticket:"><%= ttoo.operacion%></td>
 
                    <td>
                      <a href="/ajustes/ttoo-conf/<%= ttoo.id %>" data-bs-toggle="#" data-bs-target="#ttooUpdate" class="btn btn-sm btn-warning btnEdit"><i class="bi bi-pencil"></i></a>
                      
                      <a href="/ajustes/ttoo-conf/deleteTtoo/<%= ttoo.id %>" class="btn btn-sm btn-danger btnDelete" onclick="return confirm('Seguro que quiere borrar el Tour operador <%= ttoo.nombre %>?')"><i class="bi bi-trash"></i></a>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          </div>
      </div>

    </div>
    </div>

    <%- include ('../partials/footer.ejs') %> 
  </body>
</html>
