<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/ajustes/sidebar-ajustes.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - TTOO</span>
				<%- include ('../partials/ajustes/navbar-lg.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/ajustes/navbar-sm.ejs') %></nav>
		<% } %>

		<div class="content">
			<div id="Tarifas" class="afterNav">
				<div class="text-center mb-3">
					<h4 class="text-uppercase d-none" id="titulo">AJUSTES - TTOO</h4>
				</div>
				<div class="row d-flex justify-content-between">
					<div class="col-4">
						<a href="/ajustes/new-ttoo" class="btn btn-success btnAction btnShadow" id="btnService"> AGREGAR </a>
						<!-- Button trigger modal -->
					</div>
					<div class="col-8" id="inputBuscar"><%- include ('../partials/buscar-conf.ejs') %></div>
				</div>
				<div class="text-center mt-3 mb-2 hide-column-message">
					<span>*Seleccione un TTOO para ver su Descripción*</span>
				</div>

				<div class="card mt-3">
					<div class="card-body">
						<table class="table" id="myTable">
							<thead>
								<tr>
									<th scope="col" class="col-5 col-xl-3 px-0">Nombre</th>
									<th scope="col" class="col-1 hide-column">Green Fee</th>
									<th scope="col" class="col-1 hide-column">Twilight</th>
									<th scope="col" class="col-1 hide-column">Opera</th>
									<th scope="col" class="col hide-column px-0">Operación</th>
									<th scope="col" class="col-2">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((ttoo) => { %>
								<tr>
									<td
										class="info hide-text"
										onclick="alert('- <%= ttoo.nombre %> -\n\n GF: <%= ttoo.green_fee%> USD | TW: <%= ttoo.twilight%> USD\n\n Opera: <%= ttoo.cod_opera%>\n\n Operación: <%= ttoo.operacion%> ')">
										<span><%= ttoo.nombre %></span>
									</td>
									<td class="hide-column">USD <%= ttoo.green_fee%></td>
									<td class="hide-column">USD <%= ttoo.twilight%></td>
									<td class="hide-column"><%= ttoo.cod_opera%></td>
									<td class="hide-column hide-text"><span><%= ttoo.operacion %></span></td>

									<td class="d-flex justify-content-between">
										<a
											href="/ajustes/ttoo-conf/<%= ttoo.id %>"
											data-bs-toggle="#"
											data-bs-target="#ttooUpdate"
											class="btn btn-sm btn-warning btnAction btnShadow"
											><i class="bi bi-pencil"></i
										></a>

										<a
											href="/ajustes/ttoo-conf/deleteTtoo/<%= ttoo.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow"
											onclick="return confirm('Seguro que quiere borrar el Tour operador <%= ttoo.nombre %>?')"
											><i class="bi bi-trash"></i
										></a>
									</td>
								</tr>
								<% }) %>
							</tbody>
						</table>
						<!-- <div class="text-center d-none" id="noResults">
							<img class="noResults" src="/img/noResults.PNG" alt="" />
							<h4 class="text-uppercase mt-3">No hay resultados</h4>
						</div> -->
					</div>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
