<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">AJUSTES - TTOO</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile.ejs') %>

		<div class="content">
			<div id="Tarifas" class="afterNav">
				<div class="row d-flex justify-content-between">
					<div class="col-4">
						<a href="/ajustes/new-ttoo" class="btn btn-success btnShadow" id="btnService"> AGREGAR </a>
						<!-- Button trigger modal -->
					</div>
					<div class="col-8" id="inputBuscar"><%- include ('../partials/buscar-conf.ejs') %></div>
				</div>
				<div class="text-center mt-3 mb-2">
					<span>*Seleccione un TTOO para ver su descripci贸n*</span>
				</div>

				<div class="card mt-3">
					<div class="card-body">
						<% if (message.length > 0) { %>
						<div class="alert alert-success alert-dismissible fade show btnShadow text-center" role="alert">
							<i class="bi bi-check-circle"></i> <%= message %><button
								type="button"
								class="btn-close"
								data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
						<% } %>
						<table class="table" id="myTable">
							<thead>
								<tr>
									<th scope="col" class="col-5 col-xl-3 px-0">Nombre</th>
									<th scope="col" class="col-1 hide-column">Green Fee</th>
									<th scope="col" class="col-1 hide-column">Twilight</th>
									<th scope="col" class="col-1 hide-column">Opera</th>
									<th scope="col" class="col hide-column px-0">Operaci贸n</th>
									<th scope="col" class="col-2">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((ttoo) => { %>
								<tr>
									<td class="info hide-text" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= ttoo.id %>">
										<span class="editCenter"
											><%= ttoo.nombre %>
											<div class="verInfo">
												-
												<i class="bi bi-info-circle"></i></div
										></span>
									</td>
									<td class="hide-column">USD <%= ttoo.green_fee%></td>
									<td class="hide-column">USD <%= ttoo.twilight%></td>
									<td class="hide-column"><%= ttoo.cod_opera%></td>
									<td class="hide-column hide-text"><span><%= ttoo.operacion %></span></td>

									<td class="d-flex justify-content-between">
										<a href="/ajustes/edit-ttoo/<%= ttoo.id %>" class="btn btn-sm btn-warning btnAction btnShadow"><i class="bi bi-pencil"></i></a>

										<a
											href="/ajustes/ttoo-conf/deleteTtoo/<%= ttoo.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow"
											onclick="return confirm_delete()"
											><i class="bi bi-trash"></i
										></a>
									</td>
								</tr>
								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop<%= ttoo.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="staticBackdropLabel">TTOO: <%= ttoo.nombre %></h1>
												<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
											</div>
											<div class="modal-body">
												<h6><strong>Green Fee: </strong><%= ttoo.green_fee%>.00</h6>
												<h6><strong>Twilight: </strong><%= ttoo.twilight%>.00</h6>
												<h6><strong>C贸digo Opera: </strong><%= ttoo.cod_opera%></h6>
												<h6><strong>Descripci贸n: </strong><%= ttoo.operacion %></h6>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
											</div>
										</div>
									</div>
								</div>
								<% }) %>
							</tbody>
						</table>
						<div class="text-center" id="noResults">
							<img class="noResults" src="/img/noResults.PNG" alt="" />
							<h4 class="text-uppercase mt-3">No hay resultados</h4>
						</div>
					</div>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
