<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"><i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/opera"><i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/minigolf"><i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(logged.rol === "Admin"){ %>
			<a class="d-block active" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1" id="navbarLG">AJUSTES - USUARIOS</span>
				<div class="btn-group dropstart">
					<% if(logged.rol === "Admin"){ %>
					<a class="btn btn-success dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-light"><i class="bi bi-person-fill"></i> <%= logged.username %></span>
					</a>
					<% } else { %>
					<a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-dark"><i class="bi bi-person-fill"></i> <%= logged.username %></span>
					</a>
					<% } %>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Editar</a></li>
						<li><a class="dropdown-item" href="/logout">Salir</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i class="bi bi-house-up"></i></a>
				<span class="text-uppercase text-light" id="navbarSM"></span>
				<button
					class="navbar-toggler navbar-dark"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation"
					onclick="openNav()">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="mySidenav" class="sidenav">
					<div id="main">
						<div class="dropdown btn-perfil">
							<% if(logged.rol === "Admin"){ %>
							<button class="btn btn-success dropdown-toggle" href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-light text-uppercase"><%= logged.username %></span>
							</button>
							<% } else { %>
							<button class="btn btn-warning btn-sm dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-dark text-uppercase"><%= logged.username %></span>
							</button>
							<% } %>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item text-dark" href="#">Editar</a></li>
								<li>
									<a class="dropdown-item text-dark" href="/logout">Salir</a>
								</li>
							</ul>
						</div>
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a class="nav-link" href="/index">Inicio</a>
						<a class="nav-link" href="/tarifas">Tarifas</a>
						<a class="nav-link" href="#">GUIAS</a>
						<a class="nav-link" href="/opera">CÓDIGOS OPERA</a>
						<a class="nav-link" href="/minigolf">MINI GOLF</a>
						<% if(logged.rol === "Admin"){ %>
						<a class="d-block active" href="/ajustes">AJUSTES </a>
						<% } else { %>
						<a class="d-none" href="/ajustes">AJUSTES </a>
						<% } %>
					</div>
				</div>
			</div>
		</nav>

		<div class="content">
			<div id="usuarios" class="afterNav">
				<h4 class="text-uppercase d-none" id="titulo">AJUSTES - USUARIOS</h4>
				<div class="row d-flex justify-content-between">
					<div class="col-5">
						<a href="/ajustes/new-usuario" type="button" class="btn btn-success btnAction btnShadow" id="btnService"> AGREGAR </a>
						<!-- Button trigger modal -->
					</div>
					<div class="col-7" id="inputBuscar">
						<form role="search">
							<div class="input-group">
								<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
								<input class="form-control" type="search" id="myInput" onkeyup="filtroBusqueda()" placeholder="Buscar Usuario" aria-label="Search" />
							</div>
						</form>
					</div>
				</div>

				<div class="card mt-3 tabla-desktop">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table" id="myTable">
								<thead>
									<tr>
										<th scope="col" class="col-5">Nombre</th>
										<th scope="col" class="col-3">Nombre de usuario</th>
										<th scope="col" class="col-2">Rol</th>
										<th scope="col" class="col-2">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<% results.forEach((user) => { %>
									<tr>
										<td data-titulo="Nombre:"><%= user.nombre %></td>
										<td data-titulo="Usuario:"><%= user.username %></td>
										<td data-titulo="Rol:"><%= user.rol %></td>

										<td>
											<% if (logged.username == user.username) { %>
											<a href="/ajustes/usuarios-conf/<%= user.id %>" class="btn btn-sm btn-warning btnAction btnShadow"
												><i class="bi bi-pencil"></i
											></a>

											<a
												href="/ajustes/usuarios-conf/deleteUser/<%= user.id %>"
												class="btn btn-sm btn-danger btnAction btnShadow invisible"
												onclick="return confirm('Seguro que quiere borrar al usuario <%= user.nombre %>?')"
												><i class="bi bi-trash"></i
											></a>
											<% } else {%>
											<a href="/ajustes/usuarios-conf/<%= user.id %>" class="btn btn-sm btn-warning btnAction btnShadow"
												><i class="bi bi-pencil"></i
											></a>

											<a
												href="/ajustes/usuarios-conf/deleteUser/<%= user.id %>"
												class="btn btn-sm btn-danger btnAction btnShadow"
												onclick="return confirm('Seguro que quiere borrar al usuario <%= user.nombre %>?')"
												><i class="bi bi-trash"></i
											></a>
											<% } %>
										</td>
									</tr>
									<% }) %>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<!-- *****************************MOBILE CARDS EDIT****************************** -->
				<div class="container tabla-mobile" id="tabla-mobile">
					<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 mt-3" id="servicesHomePage">
						<% results.forEach((user) => { %>
						<div class="col">
							<div class="card mb-2 cardHome cardShadow" id="opera-codes">
								<div class="card-header fixSizeHeadEdit">
									<div class="my-0 text-center card-title"><%= user.nombre %></div>
								</div>
								<div class="card-body">
									<div class="accordion" id="accordionFlushExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="flush-headingOne">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#flush-collapseOne<%= user.id %>"
													aria-expanded="false"
													aria-controls="flush-collapseOne">
													Más Información
												</button>
											</h2>
											<div
												id="flush-collapseOne<%= user.id %>"
												class="accordion-collapse collapse"
												aria-labelledby="flush-headingOne"
												data-bs-parent="#accordionFlushExample">
												<div class="accordion-body">
													<p><strong>Username: </strong><%= user.username %></p>
													<p><strong>Rol: </strong><%= user.rol %></p>

													<hr />
													<div class="d-flex justify-content-between">
														<% if (logged.username == user.username) { %>
														<a href="/ajustes/usuarios-conf/<%= user.id %>" class="btn btn-sm btn-warning btnAction btnShadow"
															><i class="bi bi-pencil"></i
														></a>

														<a
															href="/ajustes/usuarios-conf/deleteUser/<%= user.id %>"
															class="btn btn-sm btn-danger btnAction btnShadow invisible"
															onclick="return confirm('Seguro que quiere borrar al usuario <%= user.nombre %>?')"
															><i class="bi bi-trash"></i
														></a>

														<% } else {%>
														<a href="/ajustes/usuarios-conf/<%= user.id %>" class="btn btn-sm btn-warning btnAction btnShadow"
															><i class="bi bi-pencil"></i
														></a>

														<a
															href="/ajustes/usuarios-conf/deleteUser/<%= user.id %>"
															class="btn btn-sm btn-danger btnAction btnShadow"
															onclick="return confirm('Seguro que quiere borrar al usuario <%= user.nombre %>?')"
															><i class="bi bi-trash"></i
														></a>
														<% } %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% }) %>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
