<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>
	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">AJUSTES - USUARIOS</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<div id="usuarios" class="afterNav">
				<div class="row d-flex justify-content-between">
					<div class="col-4">
						<a href="/ajustes/new-usuario" class="btn btn-success btnShadow" id="btnService"> AGREGAR </a>
						<!-- Button trigger modal -->
					</div>
					<div class="col-8" id="inputBuscar"><%- include ('../partials/buscar-conf.ejs') %></div>
				</div>
				<div class="text-center mt-3 mb-2">
					<span>*Seleccione un Usuario para más detalles*</span>
				</div>

				<div class="card mt-3">
					<div class="card-body">
						<% if (message.length > 0) { %>
						<div class="alert alert-success alert-dismissible fade show btnShadow text-center" role="alert">
							<i class="bi bi-check-circle"></i> <%= message %><button
								type="button"
								class="btn-close"
								data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>
						<% } %>
						<table class="table align-middle table-hover" id="myTable">
							<thead>
								<tr>
									<th scope="col" class="col-5 col-xl-3">Nombre de Usuario</th>
									<th scope="col" class="col-4 hide-column">Nombre</th>
									<th scope="col" class="col-2 hide-column">Rol</th>
									<th scope="col" class="col-2">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<% results.forEach((user) => { %>
								<tr>
									<td class="info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= user.id %>">
										<%= user.username %>
										<div class="verInfo">
											-
											<i class="bi bi-info-circle"></i>
										</div>
									</td>

									<td class="hide-column"><%= user.nombre %></td>
									<td class="hide-column"><%= user.rol %></td>

									<td class="d-flex justify-content-between">
										<% if (logged.username == user.username) { %>
										<a href="/ajustes/edit-usuario/<%= user.id %>" class="btn btn-sm btn-warning btnAction btnShadow"><i class="bi bi-pencil"></i></a>

										<a
											href="/ajustes/usuarios-conf/deleteUser/<%= user.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow invisible"
											onclick="return confirm('Seguro que quiere borrar al usuario <%= user.nombre %>?')"
											><i class="bi bi-trash"></i
										></a>
										<% } else {%>
										<a href="/ajustes/edit-usuario/<%= user.id %>" class="btn btn-sm btn-warning btnAction btnShadow"><i class="bi bi-pencil"></i></a>

										<a
											href="/ajustes/usuarios-conf/deleteUser/<%= user.id %>"
											class="btn btn-sm btn-danger btnAction btnShadow"
											onclick="return confirm_delete()"
											><i class="bi bi-trash"></i
										></a>
										<% } %>
									</td>
								</tr>
								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop<%= user.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="staticBackdropLabel">Usuario: <%= user.username %></h1>
												<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
											</div>
											<div class="modal-body">
												<h6><strong>Nombre: </strong><%= user.nombre%></h6>
												<h6><strong>Rol: </strong><%= user.rol%></h6>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
											</div>
										</div>
									</div>
								</div>
								<% }) %>
							</tbody>
						</table>
						<div class="text-center" id="noResults">
							<img class="noResults" src="/img/noResults.PNG" alt="" />
							<h4 class="text-uppercase mt-3">No hay resultados</h4>
						</div>
					</div>
				</div>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
