<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<span class="d-none" id="navbar_titulo_pagina">TARIFAS - TTOO</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<%- include ('../partials/buscar-tarifas.ejs') %>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col-5 col-xl-3 px-0">Nombre</th>
								<th scope="col" class="col-1">GF</th>
								<th scope="col" class="col-1">TW</th>
								<th scope="col" class="col-1 hide-column-opera">Opera</th>
								<th scope="col" class="col hide-column px-0">Operación</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((ttoo) => { %>
							<tr class="info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= ttoo.id %>">
								<td class="hide-text">
									<span><%= ttoo.nombre %></span>
								</td>
								<% if (ttoo.green_fee > Math.floor(ttoo.green_fee)) { %>
								<td class="hide-column">
									<%= ttoo.green_fee%>0
									<div class="verInfo hide-column">
										-
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<% } else if (ttoo.green_fee == 0) { %>
								<td class="hide-column">
									Falta dato
									<div class="verInfo hide-column">
										-
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<% } else { %>
								<td class="hide-column">
									<%= ttoo.green_fee%>.00
									<div class="verInfo hide-column">
										-
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<% } %> <% if (ttoo.twilight > Math.floor(ttoo.twilight)) { %>
								<td class="hide-column"><%= ttoo.twilight%>0</td>
								<% } else if (ttoo.twilight == 0) { %>
								<td class="hide-column">VERIFICAR</td>
								<% } else { %>
								<td class="hide-column"><%= ttoo.twilight%>.00</td>
								<% } %>

								<td class="hide-column-opera"><%= ttoo.cod_opera%></td>
								<td class="hide-text hide-column">
									<span><%= ttoo.operacion %></span>
								</td>
							</tr>
							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop<%= ttoo.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="staticBackdropLabel"><%= ttoo.nombre %></h1>
											<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
										</div>
										<div class="modal-body">
											<% if (ttoo.green_fee > Math.floor(ttoo.green_fee)) { %>
											<h6><strong>Green Fee: </strong><%= ttoo.green_fee%>0</h6>
											<% } else if (ttoo.green_fee == 0) { %>
											<h6><strong>Green Fee: </strong>Falta dato</h6>
											<% } else { %>
											<h6><strong>Green Fee: </strong><%= ttoo.green_fee%>.00</h6>
											<% } %> <% if (ttoo.twilight > Math.floor(ttoo.twilight)) { %>
											<h6><strong>Twilight: </strong><%= ttoo.twilight%>0</h6>
											<% } else if (ttoo.twilight == 0) { %>
											<h6><strong>Twilight: </strong>VERIFICAR</h6>
											<% } else { %>
											<h6><strong>Twilight: </strong><%= ttoo.twilight%>.00</h6>
											<% } %>

											<h6><strong>Código Opera: </strong><%= ttoo.cod_opera%></h6>
											<h6><strong>Descripción: </strong><%= ttoo.operacion %></h6>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
										</div>
									</div>
								</div>
							</div>
							<% }) %>
						</tbody>
					</table>
					<div class="text-center" id="noResults">
						<img class="noResults" src="/img/noResults.PNG" alt="" />
						<h4 class="text-uppercase mt-3">No hay resultados</h4>
					</div>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
