<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/tarifas/sidebar-tarifas.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">TARIFAS - Huésped hotel </span>
				<%- include ('../partials/tarifas/navbar-lg-tar.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/tarifas/navbar-sm-tar.ejs') %></nav>
		<% } %>

		<div class="content">
			<div class="mb-3 afterNav">
				<form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input
							class="form-control"
							type="search"
							id="myInput"
							onkeyup="filtroBusqueda(0.6)"
							placeholder="Buscar Tarifa Cliente Hotel"
							aria-label="Search" />
					</div>
				</form>
			</div>

			<div class="text-center mt-2 mb-2 hide-column-message">
				<span>*Seleccione una tarifa para ver su Descripción*</span>
			</div>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col">Nombre</th>
								<th scope="col" class="col-2">Precio</th>
								<th scope="col" class="col-2 hide-column-opera">Opera</th>
								<th scope="col" class="col-4 hide-column">Descripción</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((hotel) => { %>
							<tr
								class="info"
								onclick="alert('- <%= hotel.nombre %> -\n Opera: <% if (hotel.cod_opera == 0) { %><%= hotel.cod_opera = `NO POST`%><% } else if (hotel.cod_opera == 1){ %><%= hotel.cod_opera = `MULTIPLE`%><% } else { %><%= hotel.cod_opera%><% } %>\n\n <%= hotel.tips %>')">
								<td class="hide-text">
									<span><%= hotel.nombre %></span>
									<div class="verInfo hide-column">
										- Ver Info
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<td><%= hotel.precio%>.00</td>
								<% if (hotel.cod_opera == 0) { %>
								<td class="hide-column-opera">NO POST</td>
								<% } else { %>
								<td class="hide-column-opera"><%= hotel.cod_opera%></td>
								<% } %>
								<td class="hide-text hide-column">
									<span><%= hotel.tips %></span>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>

			<!-- <div class="d-flex justify-content-flex-end">
				<a class="btn btn-danger" href="/tarifas" id="backRates"> Cambiar tipo cliente</a>
			</div> -->
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
