<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/tarifas/sidebar-tarifas.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG"
					>TARIFAS - Extranjeros
				</span>
				<%- include ('../partials/tarifas/navbar-lg-tar.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<%- include ('../partials/tarifas/navbar-sm-tar.ejs') %>
		</nav>
		<% } %>

		<div class="content">
			<div class="row afterNav">
				<div class="col-3">
					<img src="/img/banderas.png" class="logoHotelrate" alt="" />
					<h3 class="headerSmall text-uppercase" id="titulo">
						TARIFAS - Extranjeros / Canabay
					</h3>
				</div>

				<div class="col" id="inputBuscar">
					<form role="search" class="vertical-center">
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"
								><i class="bi bi-search"></i
							></span>
							<input
								class="form-control"
								type="search"
								id="myInput"
								onkeyup="myFunction()"
								placeholder="Buscar tarifa"
								aria-label="Search" />
						</div>
					</form>
				</div>
			</div>

			<div class="card editShadow mt-4 tabla-desktop">
				<div class="card-body">
					<table class="table" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col-3">Nombre</th>
								<th scope="col" class="col">Precio USD</th>
								<th scope="col" class="col">Cod. Opera</th>
								<th scope="col" class="col-5" id="descripcion">Descripci칩n</th>
								<th scope="col" class="col-1">Ver Desc.</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((turista) => { %>
							<tr>
								<td><%= turista.nombre %></td>
								<td><%= turista.precio%>.00</td>
								<td><%= turista.cod_opera%></td>
								<% if(turista.tips.length > 50) { %>
								<td><%= turista.tips.slice(0,50) %>...</td>

								<% } else { %>
								<td data-titulo="descrip:"><%= turista.tips %></td>
								<% } %>

								<td>
									<a
										class="btn btn-sm btn-success btnDelete editShadow"
										onclick="return alert(' <%= turista.tips %>')"
										><i class="bi bi-eye"></i
									></a>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>

			<!-- *****************************MOBILE CARDS EDIT****************************** -->
			<div class="container tabla-mobile" id="tabla-mobile">
				<div
					class="row row-cols-1 row-cols-sm-1 row-cols-md-3 mt-3"
					id="servicesHomePage">
					<% results.forEach((turista) => { %>
					<div class="col">
						<div class="card cardHome mb-4 cardShadow" id="serviceTest">
							<div class="card-header fixSizeHead">
								<div class="card-title my-0 text-center">
									<%= turista.nombre %>
								</div>
							</div>
							<div class="card-body">
								<h5
									class="card-title pricing-card-title text-center precio-tur">
									USD <%= turista.precio %>.00
									<small class="text-muted">p/p</small>
								</h5>
								<div class="text-center">
									<h6>
										C칩digo de Opera: <strong><%= turista.cod_opera %></strong>
									</h6>
									<div class="accordion" id="accordionFlushExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="flush-headingOne">
												<button
													class="accordion-button collapsed"
													type="button"
													data-bs-toggle="collapse"
													data-bs-target="#flush-collapseOne<%= turista.id %>"
													aria-expanded="false"
													aria-controls="flush-collapseOne">
													M치s informaci칩n
												</button>
											</h2>
											<div
												id="flush-collapseOne<%= turista.id %>"
												class="accordion-collapse collapse"
												aria-labelledby="flush-headingOne"
												data-bs-parent="#accordionFlushExample">
												<div class="accordion-body"><%= turista.tips %></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% }) %>
				</div>
			</div>

			<div class="form-center botonReload">
				<a class="btn btn-danger" href="/tarifas" id="backRates">
					Cambiar tipo cliente</a
				>
			</div>
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
