<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/tarifas/sidebar-tarifas.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">TARIFAS - TTOO </span>
				<%- include ('../partials/tarifas/navbar-lg-tar.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/tarifas/navbar-sm-tar.ejs') %></nav>
		<% } %>

		<div class="content">
			<%- include ('../partials/buscar-tarifas.ejs') %>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col-5 col-xl-3 px-0">Nombre</th>
								<th scope="col" class="col-1">GF</th>
								<th scope="col" class="col-1">TW</th>
								<th scope="col" class="col-1 hide-column-opera">Opera</th>
								<th scope="col" class="col hide-column px-0">Operación</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((ttoo) => { %>
							<tr
								class="info"
								onclick="alert('- <%= ttoo.nombre %> -\n\n Opera: <% if (ttoo.cod_opera == 0) { %><%= ttoo.cod_opera = `NO POST`%><% } else if (ttoo.cod_opera == 1){ %><%= ttoo.cod_opera = `MULTIPLE`%><% } else { %><%= ttoo.cod_opera%><% } %>\n\n Cómo registrarlo: <%= ttoo.operacion %>')">
								<td class="hide-text">
									<span><%= ttoo.nombre %></span>
								</td>
								<td>
									<%= ttoo.green_fee%>.00
									<div class="verInfo hide-column">
										-
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<td><%= ttoo.twilight%>.00</td>
								<td class="hide-column-opera"><%= ttoo.cod_opera%></td>
								<td class="hide-text hide-column">
									<span><%= ttoo.operacion %></span>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
