<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/tarifas/sidebar-tarifas.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">TARIFAS - Cliente Local </span>
				<%- include ('../partials/tarifas/navbar-lg-tar.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/tarifas/navbar-sm-tar.ejs') %></nav>
		<% } %>

		<div class="content">
			<div class="mb-3 afterNav">
				<form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input
							class="form-control"
							type="search"
							id="myInput"
							onkeyup="filtroBusqueda(0.6)"
							placeholder="Buscar Tarifa Local"
							aria-label="Search" />
					</div>
				</form>
			</div>

			<div class="text-center mt-2 mb-2 hide-column-message">
				<span>*Seleccione una tarifa para ver su Descripción*</span>
			</div>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col px-0">Nombre</th>
								<th scope="col" class="col-2">Precio</th>
								<th scope="col" class="col-2 hide-column-opera">Opera</th>
								<th scope="col" class="col-4 hide-column px-0">Descripción</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((local) => { %>
								<tr
								class="info"
								onclick="alert('- <%= local.nombre %> -\n\n Opera: <% if (local.cod_opera == 0) { %><%= local.cod_opera = `NO POST`%><% } else if (local.cod_opera == 1){ %><%= local.cod_opera = `MULTIPLE`%><% } else { %><%= local.cod_opera%><% } %>\n\n <%= local.tips %>')">
								<td class="hide-text">
									<span><%= local.nombre %></span>
								</td>
								<td><%= local.precio%>.00
									<div class="verInfo hide-column">
										- Ver Info
										<i class="bi bi-info-circle"></i>
									</div></td>
								<% if (local.cod_opera == 0 && local.nombre != "Ronda de Practica Torneo HR") { %>
								<td class="hide-column-opera">NO POSTEAR</td>
								<% } else if (local.cod_opera == 0 && local.nombre == "Ronda de Practica Torneo HR"){ %>
								<td class="hide-column-opera">RONDA PRACTICA</td>
								<% } else { %>
								<td class="hide-column-opera"><%= local.cod_opera%></td>
								<% } %>
								<td class="hide-text hide-column">
									<span><%= local.tips %></span>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>

			

				<%- include ('../partials/footer.ejs') %>
			</div> 
		</div>
	</body>
</html>
