<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/tarifas/sidebar-tarifas.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">TARIFAS - Extranjeros </span>
				<%- include ('../partials/tarifas/navbar-lg-tar.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/tarifas/navbar-sm-tar.ejs') %></nav>
		<% } %>

		<div class="content">
			<%- include ('../partials/buscar-tarifas.ejs') %>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col px-0">Nombre</th>
								<th scope="col" class="col-2">Precio</th>
								<th scope="col" class="col-2 hide-column-opera">Opera</th>
								<th scope="col" class="col-4 hide-column px-0">Descripción</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((turista) => { %>
							<tr
								class="info"
								onclick="alert('- <%= turista.nombre %> -\n\n Opera: <% if (turista.cod_opera == 0) { %><%= turista.cod_opera = `NO POST`%><% } else if (turista.cod_opera == 1){ %><%= turista.cod_opera = `MULTIPLE`%><% } else { %><%= turista.cod_opera%><% } %>\n\n <%= turista.tips %>')">
								<td class="hide-text">
									<span><%= turista.nombre %></span>
								</td>
								<td>
									<%= turista.precio%>.00
									<div class="verInfo hide-column">
										- Ver Info
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<% if (turista.cod_opera == 0 && turista.nombre != "Ronda de Practica Torneo") { %>
								<td class="hide-column-opera">NO POSTEAR</td>
								<% } else if (turista.cod_opera == 0 && turista.nombre == "Ronda de Practica Torneo"){ %>
								<td class="hide-column-opera">RONDA PRACTICA</td>
								<% } else { %>
								<td class="hide-column-opera"><%= turista.cod_opera%></td>
								<% } %>
								<td class="hide-text hide-column">
									<span><%= turista.tips %></span>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
