<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %> <%- include ('../partials/tarifas/sidebar-tarifas.ejs') %>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">TARIFAS - TTOO </span>
				<%- include ('../partials/tarifas/navbar-lg-tar.ejs') %>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top"><%- include ('../partials/tarifas/navbar-sm-tar.ejs') %></nav>
		<% } %>

		<div class="content">
			<div class="mb-3 afterNav">
				<form role="search">
					<div class="input-group">
						<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
						<input
							class="form-control"
							type="search"
							id="myInput"
							onkeyup="filtroBusqueda(0.6)"
							placeholder="Buscar Tour Operador"
							aria-label="Search" />
					</div>
				</form>
			</div>

			<div class="text-center mt-2 mb-2 hide-column-message">
				<span>*Seleccione una tarifa para ver su Descripción*</span>
			</div>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col-6 col-xl-4">Nombre</th>
								<th scope="col" class="col-2">Green F.</th>
								<th scope="col" class="col">Twilight</th>
								<th scope="col" class="col hide-column-opera">Opera</th>
								<th scope="col" class="col hide-column">Operación</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((ttoo) => { %>
							<tr
								class="info"
								onclick="alert('- <%= ttoo.nombre %> -\n\n Opera: <% if (ttoo.cod_opera == 0) { %><%= ttoo.cod_opera = `NO POST`%><% } else if (ttoo.cod_opera == 1){ %><%= ttoo.cod_opera = `MULTIPLE`%><% } else { %><%= ttoo.cod_opera%><% } %>\n\n Cómo registrarlo: <%= ttoo.operacion %>')">
								<td class="hide-text">
									<span><%= ttoo.nombre %></span>
								</td>
								<td>
									USD <%= ttoo.green_fee%>
									<div class="verInfo hide-column">
										- Ver Info
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<td>USD <%= ttoo.twilight%></td>
								<td class="hide-column-opera"><%= ttoo.cod_opera%></td>
								<td class="hide-text hide-column">
									<span><%= ttoo.operacion %></span>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
