<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<% if (user) { %>
		<div class="sidebar scrollmenu">
			<div class="container mb-3 mt-3">
				<img src="/img/golflogo.png" class="logo" alt="" />
			</div>
			<a href="/index"><i class="bi bi-house-check"></i> Inicio <i class="bi bi-chevron-right flecha"></i></a>
			<a class="active" href="/tarifas"><i class="bi bi-currency-dollar"></i> Tarifas <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/guias"> <i class="bi bi-journal-text"></i> Guías <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/opera"> <i class="bi bi-upc-scan"></i> CÓD. OPERA <i class="bi bi-chevron-right flecha"></i></a>
			<a href="/minigolf"> <i class="bi bi-houses"></i> MINI GOLF <i class="bi bi-chevron-right flecha"></i></a>
			<% if(user.rol === "Admin"){ %>
			<a class="d-block" href="/ajustes"><i class="bi bi-gear"></i> AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } else { %>
			<a class="d-none" href="/ajustes">AJUSTES <i class="bi bi-chevron-right flecha"></i></a>
			<% } %>
		</div>

		<!-- NAV LG -->
		<nav class="navbar fixed-top navi">
			<div class="container-fluid">
				<span class="navbar-brand mb-0 h1 text-uppercase" id="navbarLG">TARIFAS - TTOO </span>
				<div class="btn-group dropstart">
					<% if(user.rol === "Admin"){ %>
					<a class="btn btn-success dropdown-toggle btnShadow" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-light"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } else { %>
					<a class="btn btn-warning dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="text-dark"><i class="bi bi-person-fill"></i> <%= user.username %></span>
					</a>
					<% } %>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/edit-usuario-actual">Editar</a></li>
						<li><a class="dropdown-item" href="/logout">Salir</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- NAV SM -->
		<nav class="navbar navSmall fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/index"><i class="bi bi-house-up" id="titulo"></i></a>
				<span class="text-uppercase text-light" id="navbarSM"></span>
				<button
					class="navbar-toggler navbar-dark"
					data-bs-toggle="collapse"
					data-bs-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation"
					onclick="openNav()">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="mySidenav" class="sidenav">
					<div id="main">
						<div class="dropdown btn-perfil">
							<% if(user.rol === "Admin"){ %>
							<button class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-light text-uppercase"><%= user.username %></span>
							</button>
							<% } else { %>
							<button class="btn btn-warning btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="text-dark text-uppercase"><%= user.username %></span>
							</button>
							<% } %>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item text-dark" href="/edit-usuario-actual">Editar</a></li>
								<li>
									<a class="dropdown-item text-dark" href="/logout">Salir</a>
								</li>
							</ul>
						</div>
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a class="nav-link" href="/index">Inicio</a>
						<a class="active" href="/tarifas">Tarifas</a>
						<a class="nav-link" href="/guias">GUIAS</a>
						<a class="nav-link" href="/opera">CÓD. OPERA</a>
						<a class="nav-link" href="/minigolf">MINI GOLF</a>
						<% if(user.rol === "Admin"){ %>
						<a class="d-block" href="/ajustes">AJUSTES </a>
						<% } else { %>
						<a class="d-none" href="/ajustes">AJUSTES </a>
						<% } %>
					</div>
				</div>
			</div>
		</nav>
		<% } %>

		<div class="content">
			<%- include ('../partials/buscar-tarifas.ejs') %>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col-5 col-xl-3 px-0">Nombre</th>
								<th scope="col" class="col-1">GF</th>
								<th scope="col" class="col-1">TW</th>
								<th scope="col" class="col-1 hide-column-opera">Opera</th>
								<th scope="col" class="col hide-column px-0">Operación</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((ttoo) => { %>
							<tr
								class="info"
								onclick="alert('- <%= ttoo.nombre %> -\n\n Opera: <% if (ttoo.cod_opera == 0) { %><%= ttoo.cod_opera = `NO POST`%><% } else if (ttoo.cod_opera == 1){ %><%= ttoo.cod_opera = `MULTIPLE`%><% } else { %><%= ttoo.cod_opera%><% } %>\n\n Cómo registrarlo: <%= ttoo.operacion %>')">
								<td class="hide-text">
									<span><%= ttoo.nombre %></span>
								</td>
								<td>
									<%= ttoo.green_fee%>.00
									<div class="verInfo hide-column">
										-
										<i class="bi bi-info-circle"></i>
									</div>
								</td>
								<td><%= ttoo.twilight%>.00</td>
								<td class="hide-column-opera"><%= ttoo.cod_opera%></td>
								<td class="hide-text hide-column">
									<span><%= ttoo.operacion %></span>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
			</div>

			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
