<!DOCTYPE html>
<html lang="en">
	<%- include ('../partials/head-edits.ejs') %>

	<body>
		<span class="d-none text-uppercase" id="navbar_titulo_pagina">TARIFAS - Huésped Hotel</span>
		<!-- SIDEBAR DESKTOP -->
		<%- include ('../partials/sidebar_desktop_logged.ejs') %>

		<!-- NAVBAR DESKTOP -->
		<%- include ('../partials/navbar_desktop_logged.ejs') %>

		<!-- NAVBAR MOBILE -->
		<%- include ('../partials/sidenav_mobile_logged.ejs') %>

		<div class="content">
			<%- include ('../partials/buscar-tarifas.ejs') %>

			<div class="card mt-2">
				<div class="card-body">
					<table class="table table-hover" id="myTable">
						<thead id="tabla-vacia">
							<tr>
								<th scope="col" class="col px-0">Nombre</th>
								<th scope="col" class="col-2">Precio</th>
								<th scope="col" class="col-2 hide-column-opera">Opera</th>
								<th scope="col" class="col-4 hide-column px-0">Descripción</th>
							</tr>
						</thead>
						<tbody>
							<% results.forEach((hotel) => { %>
							<tr class="info" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= hotel.id %>">
								<td class="hide-text">
									<span><%= hotel.nombre %></span>
								</td>
								<td><%= hotel.precio%>.00</td>
								<% if (hotel.cod_opera == 0) { %>
								<td class="hide-column-opera">NO POST</td>
								<% } else { %>
								<td class="hide-column-opera"><%= hotel.cod_opera%></td>
								<% } %>
								<td class="hide-text hide-column">
									<span><%= hotel.tips %></span>
								</td>
							</tr>
							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop<%= hotel.id %>" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="staticBackdropLabel"><%= hotel.nombre %></h1>
											<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
										</div>
										<div class="modal-body">
											<% if (hotel.precio == 0 && hotel.nombre == "Torneos") { %>
											<h6><strong>Precio: </strong>COTIZAR</h6>
											<% } else { %>
											<h6><strong>Precio: </strong><%= hotel.precio%>.00</h6>
											<% } %>

											<h6>
												<strong>Código Opera: </strong><% if (hotel.cod_opera == 0) { %><%= hotel.cod_opera = `NO POST`%><% } else if (hotel.cod_opera
												== 1){ %><%= hotel.cod_opera = `MULTIPLE`%><% } else { %><%= hotel.cod_opera%><% } %>
											</h6>

											<h6><strong>Descripción: </strong><%= hotel.tips %></h6>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-success btnShadow" data-bs-dismiss="modal">CERRAR</button>
										</div>
									</div>
								</div>
							</div>
							<% }) %>
						</tbody>
					</table>
					<div class="text-center" id="noResults">
						<img class="noResults" src="/img/noResults.PNG" alt="" />
						<h4 class="text-uppercase mt-3">No hay resultados</h4>
					</div>
				</div>
			</div>

			<!-- <div class="d-flex justify-content-flex-end">
				<a class="btn btn-danger" href="/tarifas" id="backRates"> Cambiar tipo cliente</a>
			</div> -->
			<%- include ('../partials/footer.ejs') %>
		</div>
	</body>
</html>
